@import "_variables.scss";

* {
    outline: none;
}

html, body {
    height: 100%;
    font-family: 'open-sans';
    font-weight: lighter;
    font-size: 14px;
    line-height: 16px;
}

h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 700px;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #a973b4;
}

.btn {
    display: inline-block;
    border: none;
    outline: none;

    &.btn-primary {
        background-color: #a973b4;
        font-size: 14px;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 10px 0;

        &:hover {

        }

    }

}
