@import "_variables.scss";

// bryce style this pls
.js-flash {
    height: 33px;
    padding-top: 17px;
    font-size: 30px;
    width: 100%;
    background-color: $main-color-2;
    color: white;
    position: fixed;
    z-index: 99999;
    text-align: center;
    display: none;

    &.error-flash {
      background-color: #BD2121;
    }
}

