@import "_form_default.scss";
@import "_form-errors.scss";

.wrapper {
    background-color: $off-white-bg-color;
    background-image: url("../images/stocky-stock-dark-cool.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}

.nav-section {
    opacity:0;
    position: fixed;
}

.page-container {
    width: 350px;
}

table {
    width: 250px;
    margin: auto;
    margin-bottom: 20px !important;
    
    td {
        position: relative;
        height: 30px;
        padding-right: 0px !important;

        input {
            height: 20px;
            width: 234px !important;
        }
    }
}

.table-wrapper, .signup-wrapper {
    border-radius: 2px;
}

.button-field {
    padding: 10px 25px 10px 25px !important;
    width: 250px !important;
    height: 50px;
    margin-top: 10px !important;
    display: block;
}

.footer {
    background: rgba(0,0,0,0.4);
    border-top: 1px solid rgba(201,201,201,0.4);

    .middot {
        color: rgba(201,201,201,0.4);
    }

    .copyright {
        color: #aaa;
    }

    .footer-inner {
        border-bottom: 0px solid white;
    }

    .footer-legal {
        height: 37px;
    }
}
