@import "../shared/_variables.scss";

nav {
    background-color: $main-dark;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    position: relative;

    .header-container {
        position: relative;
        width: $page-width;
        margin: 0 auto;

        .nav-left {
            #logo {
                float: left;
                position: absolute;

                img {
                    height: 33px;
                    width: 33px;
                    margin-top: 8px;
                }
            }

            #logo-name {
                margin-left: 48px;
                letter-spacing: 5px;
                font-weight: 100;
                color: $white-color;

                &:hover {
                    color: white;
                }
            }
        }

        .nav-right {
            height: 50px;
            float: right;

            a {
                color: $white-color;
                font-weight: 400;
                display: block;
                position: relative;

                &:hover {
                    color: white;
                }

                .new-notifications-symbol {
                    background-color: rgb(197, 55, 55);
                    border-radius:3px;
                    height: 12px;
                    overflow: auto;
                    position: absolute;
                    top: 10px;
                    left: 13px;
                    font-size: 10px;
                    line-height: 11px;
                    color: white;
                    padding: 1px 2px 0px 2px;
                    display:none;
                }
            }

            li {
                display: inline-block;
                margin-left: 20px;
                position: relative;

                &.username {
                    display: -ms-flexbox;
                    -ms-flex-pack: center;
                    -ms-flex-align: center;

                    display: -moz-box;
                    -moz-box-pack: center;
                    -moz-box-align: center;

                    display: -webkit-box;
                    -webkit-box-pack: center;
                    -webkit-box-align: center;

                    display: box;
                    box-pack: center;
                    box-align: center;

                    font-weight: 100;

                    .avatar-thumb {
                        display: -webkit-box;
                        margin-right: 10px
                    }

                    .fa-caret-down {
                        margin-left: 5px;
                    }
                }
            }
        }

        .dropdown {
            border-radius: 2px;
            box-shadow: 0 3px 12px rgba(0,0,0,0.15);
            background-color: $background;
            border: 1px solid rgba(197,197,197,1);
            position: absolute;
            z-index: 1001;
            line-height: 20px;

            .caret-wrapper {
                width: 100%;
                text-align: center;

                .caret {
                    border-style: solid;
                    border-width: 0px 8px 8px 8px;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-bottom-color: white;
                    border-bottom-color: rgb(245, 245, 245);
                    border-right-color: transparent;
                    width: 0px;
                    height: 0px;
                    display: inline-block;
                    position: absolute;
                    z-index: 1003;
                    top: -7px;
               }

               .caret-shadow {
                    border-style: solid;
                    border-width: 0px 8px 8px 8px;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    border-bottom-color: $generic-divider-color;
                    border-bottom-color: rgba(177,177,177,1);
                    border-right-color: transparent;
                    width: 0px;
                    height: 0px;
                    display: inline-block;
                    position: absolute;
                    z-index: 1002;
                    top: -8px;
               }
           }

           a.notifications-dropdown-see-all-link {
               font-weight: bold;
               color: $main-color-2;
           }

           a.notifications-dropdown-see-all-link:hover {
               text-decoration: underline;
               color: $main-color-2;
           }
        }

        .options-dropdown {
            right: 2px;
            top: 51px;

            .caret, .caret-shadow {
                left: 86px;
            }

            li {
                z-index: 1004;
                display: block;

                * {
                    color: #888;
                }

                a {
                    width: 80px;
                    padding: 6px 20px;
                    display: block;

                    i {
                        height: 20px;
                        width: 16px;
                        margin-right: 1px;
                    }
                }
            }

            li:first-child{
                margin-top: 7px;
            }

            li:last-child{
                margin-bottom: 7px;
            }

            a:hover {
                background: $main-color-2;
                background-color: rgba(169, 115, 180, 0.87);
                color: white;

                * {
                    color: white;
                }
            }
        }

        .notifications-dropdown {
            right: -135px;
            top: 51px;
            width: 300px;
            height: 350px;
            background-color: rgb(245, 245, 245);

            ul {
                overflow-y: auto;
                height: 280px;

                li {
                    padding: 15px 10px 13px 10px;
                    clear: both;
                    border-bottom: dotted 1px $generic-divider-color;
                    overflow: auto;
                    cursor: pointer;
                    margin: 0;
                    display: block;

                    .notification-thumbnail {
                        background: #ccc;
                        width: 40px;
                        height: 40px;
                        float: left;
                    }

                    .notification-content {
                        float: left;
                        overflow: auto;
                        //border: 1px red dashed;
                        width: 231px;
                        margin-left: 8px;
                        height: 45px;
                        position:relative;
                        bottom: 2px;

                        * {
                            font-size: 12px;
                            line-height: 12px;
                        }

                        .notification-author {
                            font-weight: bold;
                            display: inline-block;
                        }

                        .notification-text {
                            display: inline-block;
                        }

                        .notification-date {
                            color: #888;
                            position: absolute;
                            bottom: 8px;
                        }
                    }
                }

                li:hover {
                    background: #f1f1f1;
                }

                .unread-notification {
                    background-color: rgba(169, 115, 180, 0.17);
                }

                .unread-notification:hover {
                    background-color: rgba(169, 115, 180, 0.22)
                }
            }

            .notifications-dropdown-see-all {
                width: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                padding: 8px 0;
                background: white;
                border-top: $generic-divider-color 1px solid;
                font-size: 12px;
            }

            .notifications-dropdown-see-all a:hover {
                text-decoration: underline;
            }

            .notifications-dropdown-title {
                background: white;
                padding: 6px 10px;
                border-bottom: $generic-divider-color 1px solid;
                overflow: auto;

                .notif-title {
                    float: left;
                    font-weight: bold;
                }
            }
        }
    }
}

.nav-section {
    width: 100%;
    border-bottom: 1px #d2d2d2 solid;
    overflow: auto;
    background-color: white;
    opacity: 1;

    .page-width {
        width: $page-width;
        margin: auto;
        height: 40px;
    }

    h1 {
        font-size:22pt;
        margin-top: 10px;
        float:left;
    }

    .new-doc-button {
        float: left;
        padding: 7px;
        background: $main-color-2;
        border-radius: 3px;
        color: white;
        margin-top: 8px;
        margin-left: 17px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.4);
        padding-right: 10px;

        i{
            color: #5C294D;
            margin-right: 5px;
        }
    }
}
