/***********************************************/
/*                GLOBAL VARIABLES             */
/***********************************************/



////////////////////// DEPRECATED /////////////////////
/******** Sizing *********/
$radius: 2px;

/******** Fonts and Font Sizes ********/
// pt fonts are deprecated
$large-font: 30pt;
$large-font-2: 20pt;
$large-explanation: 15pt;
$small-explanation: 13pt;
$button-font-size: 10pt;


/******** Colors *********/
$main-dark: #1e1e1e;       // this is the main dark color (think nav bar)
$white-color: #e5e5e5;           // this is an off-white text color
$off-white-bg-color: #f5f5f5;    // this is a neutral light background shade for divs
$generic-divider-color: #dcdcdc; // use this to divide white divs
$background: white;              // this is the main bg to our entire site. it's white yo!
$main-color-2-hover: #a973bf;
$main-color-2: #A973B4;
$default-text-color: #373737;
/////////////////////////////////////////////////////



/******* New variables 06/25/14 *********/
// font-sizes
$small-font: 12px;
$default-font: 14px;
$header-font: 20px;

// Sizing
$height-unit: 20px;
$width-unit: 20px;
$padding: 20px;
$border-radius: 2px;
$page-width: 940px; // this is the width of all pages

// hue = 270 degrees
$p444: #454248;    // #444    at 4% saturation
$p666: #666369;    // #666    at 3% saturation
$p777: #78757A;    // #777    at 2% saturation
$pf5f5f5: #f5f5f5; // #f5f5f5 at 0% saturation
$peee: #ededee;    // #eee    at 3% saturation
$pblack: #1F1C22;  // #1e1e1e at 10% saturation

// site colors
$theme-color: #a973bf;
$dark-gray: $p777;
$off-white: #f0f0f0;//$pf5f5f5;
$black: $pblack;
$white: white;
$green: #39bd41;


