/***********************************************/
/*                GLOBAL VARIABLES             */
/***********************************************/

$radius: 2px;
$theme-color: #a6538d;
$theme-color-hover: #B45B99;
$large-font: 30pt;
$large-font-2: 20pt;
$large-explanation: 15pt;  
$small-explanation: 13pt;
$button-font-size: 10pt;
$white-color: #e5e5e5;
