<nav>
    <div class="header-container">
        <ul class="nav-right">
            <a href="/login">Sign In</a>
        </ul>
        <div class="nav-left">
            <a href="/">
                <span id="logo">
                    <div id="eraser"></div>
                    <div id="metal"></div>
                    <div id="pencil"> P </div>
                    <div id="tip"></div>
                </span>
                <span id="logo-name"> PEERNOTE </span>
            </a>
        </div>
    </div>
</nav>
