<nav>
    <div class="header-container">
        <ul class="nav-right">
            {% if not is_production  %}
                {% if is_logged_in %}
                    <li>
                        <a title="Notifications">
                            <i class="fa fa-globe fa-lg show-notifications"></i>
                            <div class="new-notifications-symbol">2</div>
                        </a>
                        <div class="hidden dropdown notifications-dropdown">
                            <div class="caret-wrapper">
                                <div class="caret">
                                    <div class="caret__border"></div>
                                </div>
                                <div class="caret-shadow">
                                    <div class="caret__border"></div>
                                </div>
                            </div>
                            <div class="notifications-dropdown-title">
                                <div class="notif-title">Notifications</div>
                            </div>
                            <ul id="notifications-list"> </ul>
                            <div class="notifications-dropdown-see-all">
                                <a class="notifications-dropdown-see-all-link">
                                    See All
                                </a>
                            </div>
                        </div>

                    </li>
                    <li>
                        <a href="/essays" title="Documents">
                            <i class="fa fa-file-text fa-lg"></i>
                        </a>
                    </li>
                    <li>
                        <a class="light username show-dropdown" href="/">
                            {{ user.first_name | shorten_string(8)}}
                            <i class="fa fa-caret-down"></i>
                        </a>
                    </li>
                {% else %}
                    <a class="nav-sign-in" href="/log-in">Sign In</a>
                {% endif %}
            {% endif %}
        </ul> <!-- nav-right -->

        <div class="nav-left">
            <a href="/">
                <span id="logo">
                    <div id="eraser"></div>
                    <div id="pencil"> P </div>
                </span>
                <span id="logo-name"> PEERNOTE </span>
            </a>
        </div> <!-- nav-left -->

        {% if is_logged_in %}
            <div class="hidden dropdown options-dropdown">
                <div class="caret-wrapper">
                    <div class="caret">
                        <div class="caret__border"></div>
                    </div>
                    <div class="caret-shadow">
                        <div class="caret__border"></div>
                    </div>
                </div>
                <ul>
                    <li>
                    <a href="/">
                        <i class="fa fa-home"></i>
                        Home</a>
                    </li>
                    <li>
                    <a href="{{ url_for('users.settings') }}">
                        <i class="fa fa-gear"></i>
                        Settings</a>
                    </li>
                    <li>
                        <a href="{{ url_for('users.log_out') }}">
                            <i class="fa fa-sign-out"></i>
                            Sign Out
                        </a>
                    </li>
                </ul>
            </div>

        {% endif %}

    </div> <!-- header-container -->
</nav>
<div class="nav-shadow">
</div>
