{% extends 'base/application_main.html' %}

{% block title %}
Home
{% endblock %}

{% block styles %}
    {{ super() }}
    {% assets "dashboard_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "profile_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}

{# Popup lightbox for finding and adding a new course #}
<div class="add-course-pane">
    <form>
    <h2>Find and Add a Course</h2>
    <div class="slider-window">
        <ul class="add-course-steps">
            <li class="add-course-step add-course-step-1">
                <h1>Step 1: Where do you go to school?</h1>
                <input placeholder="School name"></input>
            </li>
            <li class="add-course-step add-course-step-2">
                <h1>Step 2: Select your course.</h2>
                <select placeholder="Course - Instructor">
                    <option>English - Deboer-Langworthy</option>
                    <option>French I - Tubiana</option>
                    <option>French II - Seaberg
                    <option>US History - Chester</option>
                </select>
            </li>
            <li class="add-course-step add-course-step-3">
                <div class="check-container">
                    <i class="fa fa-check"></i>
                </div>
                <h1>Course Added!</h1>
            </li>
        </ul>
    </div>
    <div class="add-course-footer">
        <div class="add-course-button add-course-next-button">
            Next
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="add-course-button add-course-finish-button">
            Finish
        </div>
        <div class="add-course-button add-course-back-button">
            <i class="fa fa-angle-double-left"></i>
            Back
        </div>
    </div>
    </form>
</div>

<div class="dummy-nav"></div>
<div class="dashboard">
    <div class="top-push"></div>
    <div id="user-profile">
        <div class="user-profile-container">
            <img src="{{ user.email | gravatar }}" />
            {#<div class="item-count item-count-first">
                <a href="/essays">{{ user.essay_count() }}</a>
                Documents
            </div>
            <div class="item-count item-count-last">
                <a href="#">{{ user.draft_count() }}</a>
                Drafts
            </div>#}
            <div id="user-info">
                <h1>{{ user.first_name | shorten_string(12) }} {{ user.last_name | shorten_string(12) }}</h1>
                <div>Student</div>
            </div>
        </div>
        <div class="recent-essays">
            <div class="recent-essays-header">
                <h2>Recent Documents</h2>
                <div class="see-all-recent-wrapper">
                    <i class="fa fa-caret-right"></i>
                    <a href="/essays" class="see-all-recent">See All</a>
                </div>
            </div>
            <ul>
                {% if recent_essays %}
                {% for essay in recent_essays %}
                <li>
                <a href="{{ url_for('essays.edit_essay', essayid=essay.eid) }}">
                    <div class="recent-doc">{{ essay.get_current_draft().title | check_untitled | shorten_string(25) }}</div>
                    <div class="date">{{ essay.pretty_modified_date() }} </div>
                </a>
                </li>
                {% endfor %}
                {% else %}
                <div class="no-documents">
                    No documents. Create one <a href="/essays/create">here</a>!
                </div>
                {% endif %}
            </ul>
            <div class="button-panel">
                <a class="button" href="{{ url_for('essays.create_essay') }}">
                    <i class="fa fa-plus"></i>New
                </a>
                <a class="button" href="{{ url_for('essays.upload_essay') }}">
                    <i class="fa fa-upload"></i>Upload
                </a>
            </div>
        </div>
    </div>
    <div class="right-col">
        <div class="tabbed-panes">
            <div class="tabs">
                <div class="tab">
                    <h1 class="tab-selected" id="notifications">
                        <i class="fa fa-calendar"></i>
                        Calendar
                    </h1>
                </div>
                <div class="small-tab-fill"></div>
                <div class="tab">
                    <h1 class="tab-unselected" id="assignments">
                        <i class="fa fa-pencil-square-o"></i>
                        Assignments
                    </h1>
                </div>
                <div class="small-tab-fill"></div>
                <div class="tab">
                    <h1 class="tab-unselected" id="courses">
                        <i class="fa fa-graduation-cap"></i>
                        Courses
                    </h1>
                </div>
                <div class="tab-fill"></div>
            </div>
            <div class="week-calendar">
                <div class="calendar-header">
                    <div class="calendar-controls">
                        <div class="previous-week-button calendar-button">
                            <i class="fa fa-caret-left"></i>
                        </div>
                        <div class="current-date-button calendar-button">Today</div>
                        <div class="next-week-button calendar-button">
                            <i class="fa fa-caret-right"></i>
                        </div>
                    </div>
                    <h2>Week of July 9th</h2>
                </div>
                <ul class="weekdays">
                    <li class="weekday monday">
                        <div class="weekday-name">
                            <span class="wd-date">9</span>
                            <span class="wd-day">Mon</span>
                        </div>
                        <div class="assignment-block">
                            <div class="assignment-block-header">English</div>
                            <div class="assignment-block-text">
                                Assignment due today.
                            </div>
                        </div>
                    </li>
                    <li class="weekday tuesday">
                        <div class="weekday-name">
                            <span class="wd-date">10</span>
                            <span class="wd-day">Tue</span>
                        </div>
                    </li>
                    <li class="weekday wednesday current-weekday">
                        <div class="weekday-name">
                            <span class="wd-date">11</span>
                            <span class="wd-day">Wed</span>
                        </div>
                    </li>
                    <li class="weekday thursday">
                        <div class="weekday-name">
                            <span class="wd-date">12</span>
                            <span class="wd-day">Thu</span>
                        </div>
                    </li>
                    <li class="weekday friday">
                        <div class="weekday-name">
                            <span class="wd-date">13</span>
                            <span class="wd-day">Fri</span>
                        </div>
                        <div class="assignment-block">
                            <div class="assignment-block-header">English</div>
                            <div class="assignment-block-text">
                                Test today.
                            </div>
                        </div>
                        <div class="assignment-block">
                            <div class="assignment-block-header">English</div>
                            <div class="assignment-block-text">
                                Assignment due today.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {% set reviews = user.get_assigned_reviews(5) %}
            {% if reviews %}
            <div class="assignments-tab">
                <ul class="course-assignments-blocks">
                    <li class="course-assignments-block">
                        <h2 title="Go to course page">English - Deboer-Langworthy</h2>
                        <ul class="course-assignments">
                            <li class="course-assignment">
                                <div class="course-assignment-date">
                                    Tomorrow
                                </div>
                                <div class="course-assignment-content">
                                    Read Chapter 5 from Simons et al.
                                </div>
                            </li>
                            <li class="course-assignment">
                                <div class="course-assignment-date">
                                    June 21
                                </div>
                                <div class="course-assignment-content">
                                    <div class="course-assignment-text">
                                        Complete the first draft of your response paper on Atticus Finch. Remember to avoid passive voice.
                                    </div>
                                    <a class="button"
                                        href="{{ url_for('essays.create_essay') }}">
                                        Begin Assignment
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="course-assignments-block">
                        <h2 title="Go to course page">US History - Chester</h2>
                        <ul class="course-assignments">
                            <li class="course-assignment">
                                <span class="course-assignment-date">
                                    Tomorrow
                                </span>
                                <span class="course-assignment-content">
                                    Read Chapter 5 from Simons et al.
                                </span>
                            </li>
                        </ul>
                    </li>
                    <li class="course-assignments-block">
                        <h2 title="Go to course page">Miscellaneous</h2>
                        <ul class="course-assignments">
                            {% for review in reviews %}
                            <li class="course-assignment">
                            <span class="course-assignment-date">
                                {{ review.pretty_request_date() }}
                            </span>
                            <span class="course-assignment-content">
                                <div class="course-assignment-text">
                                    {{ review.get_requesting_user().first_name }} {{ user.last_initial() }}. requested a review on his paper, "{{ review.get_draft().title }}."
                                </div>
                                <a class="button"  href="{{ url_for('essays.review_draft', reviewhash=review.urlhash) }}">
                                    Begin Review
                                </a>
                            </span>
                                {#<img src="{{ review.get_requesting_user().email | gravatar }}" class="notification-thumbnail">#}
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="courses-tab">
                <div class="no-courses-added">You have not added any courses yet.</div>
                <ul class="course-list">
                    <div class="course-li">
                        <div class="course-li-header">
                            <h2>English - Deboer-Langworthy</h2>
                            <a>
                                Go to course page
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </div>
                        <div class="course-contents">
                            <div class="course-announcements">
                                <h2>
                                    <i class="fa fa-bullhorn"></i>
                                    Announcements
                                </h2>
                                <ul class="course-announcements-list">
                                    <li class="no-announcements course-announcement">
                                        No announcements
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="course-li">
                        <div class="course-li-header">
                            <h2>US History - Chester</h2>
                            <a>
                                Go to course page
                                <i class="fa fa-caret-right"></i>
                            </a>
                        </div>
                        <div class="course-contents">
                            <div class="course-announcements">
                                <h2>
                                    <i class="fa fa-bullhorn"></i>
                                    Announcements
                                </h2>
                                <ul class="course-announcements-list">
                                    <li class="course-announcement">
                                        <i class="fa fa-angle-double-right"></i>
                                        You should complete the Adams reading by Monday.
                                    </li>
                                    <li class="course-announcement">
                                        <i class="fa fa-angle-double-right"></i>
                                        Don't forget, we'll be having a pop quiz next week covering material in the current unit.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
                <div class="add-course-link">
                    <div class="icon-container">
                        <i class="fa fa-plus"></i>
                    </div>
                    Find and Add Course
                </div>
            </div>
        </div>
        <div class="notifications-container">
            <h2>
                Notifications
            </h2>
            <ul class="notifications">
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
