{% extends 'base/application_main.html' %}

{% block title %}
Home
{% endblock %}

{% block styles %}
    {{ super() }}
    {% assets "dashboard_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "profile_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}

{# TODO: MOVE INTO WIDGET THAT AUTOGENERATES ALL DAYS #}
<div class="calendar-popup">
    <div class="widget-calendar">
        <div class="cal-header">
            <div class="cal-current-month">June 2014</div>
            <div class="cal-controls">
                <div class="cal-previous-month-button"></div>
                <div class="cal-current-month-button"></div>
                <div class="cal-next-month-button"></div>
            </div>
        </div>
        <div class="cal-days">
            <div class="cal-row">
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">26</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">27</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">28</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">29</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">30</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">31</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">1</span>
                    </div>
                </div>
            </div>
            <div class="cal-row">
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">2</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">3</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">4</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">5</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">6</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">7</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">8</span>
                    </div>
                </div>
            </div>
            <div class="cal-row">
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">9</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">10</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">11</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">12</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">13</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">14</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">15</span>
                    </div>
                </div>
            </div>
            <div class="cal-row">
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">16</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">17</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">18</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">19</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">20</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">21</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">22</span>
                    </div>
                </div>
            </div>
            <div class="cal-row">
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">23</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">24</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">25</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">26</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">27</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">28</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">29</span>
                    </div>
                </div>
            </div>
            <div class="cal-row">
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-current-month-date">30</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">1</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">2</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">3</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">4</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">5</span>
                    </div>
                </div>
                <div class="cal-day">
                    <div class="cal-date">
                        <span class="cal-not-current-month-date">6</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Popup lightbox for finding and adding a new course #}
<div class="add-course-pane">
    <form>
    <h2>Find and Add a Course</h2>
    <div class="slider-window">
        <ul class="add-course-steps">
            <li class="add-course-step add-course-step-1">
                <h1>Where do you go to school?</h1>
                <input placeholder="School name"></input>
            </li>
            <li class="add-course-step add-course-step-2">
                <h1>Select your course</h2>
                <select placeholder="Course - Instructor">
                    <option>English - Deboer-Langworthy</option>
                    <option>French I - Tubiana</option>
                    <option>French II - Seaberg
                    <option>US History - Chester</option>
                </select>
            </li>
            <li class="add-course-step add-course-step-3">
                <div class="check-container">
                    <i class="fa fa-check"></i>
                </div>
                <h1>Course Added!</h1>
            </li>
        </ul>
    </div>
    <div class="add-course-footer">
        <div class="add-course-button add-course-next-button">
            Next
            <i class="fa fa-angle-right"></i>
        </div>
        <div class="add-course-button add-course-finish-button">
            Finish
        </div>
        <div class="add-course-button add-course-back-button">
            <i class="fa fa-angle-double-left"></i>
            Back
        </div>
    </div>
    </form>
</div>

<div class="dummy-nav"></div>
<div class="dashboard">
    <div class="top-push"></div>
    <div id="user-profile">
        <div class="user-profile-container">
            <div class="user-image-name">
                <img src="{{ user.email | gravatar }}" />
                {#<div class="item-count item-count-first">
                    <a href="/essays">{{ user.essay_count() }}</a>
                    Documents
                </div>
                <div class="item-count item-count-last">
                    <a href="#">{{ user.draft_count() }}</a>
                    Drafts
                </div>#}
                <div id="user-info">
                    <h1>{{ user.first_name | shorten_string(12) }} {{ user.last_name | shorten_string(12) }}</h1>
                    <div>Student</div>
                </div>
            <div class="button-panel">
                <a class="button" title="Create new document"
                    href="{{ url_for('essays.create_essay') }}">
                    <i class="fa fa-plus"></i>New
                </a>
                <a class="button" title="Upload document"
                    href="{{ url_for('essays.upload_essay') }}">
                    <i class="fa fa-upload"></i>Upload
                </a>
            </div>
            </div>
            <div class="course-shortlist">
                <h2>My Courses</h2>
                <ul class="my-courses-list">
                    <li>
                    <i class="fa fa-square"></i>English - Deboer-Langworthy</li>
                    <li><i class="fa fa-square"></i>US History - Chester</li>
                </ul>
                <div class="add-course-link">
                    <div class="icon-container">
                        <i class="fa fa-plus"></i>
                    </div>
                    Find and Add Course
                </div>
            </div>
        </div>
        <div class="recent-essays">
            <div class="recent-essays-header">
                <h2>Recent Documents</h2>
                <div class="see-all-recent-wrapper">
                    <i class="fa fa-caret-right"></i>
                    <a href="/essays" class="see-all-recent" title="See all documents">
                        See All
                    </a>
                </div>
            </div>
            <ul>
                {% if recent_essays %}
                {% for essay in recent_essays %}
                <li>
                <a href="{{ url_for('essays.edit_essay', essayid=essay.eid) }}">
                    <div class="recent-doc">{{ essay.get_current_draft().title | check_untitled | shorten_string(20) }}</div>
                    <div class="date">{{ essay.pretty_modified_date() }} </div>
                </a>
                </li>
                {% endfor %}
                {% else %}
                <div class="no-documents">
                    No documents. Create one <a href="/essays/create">here</a>!
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="right-col">
        <div class="tabbed-panes">
            <div class="tabs">
                <div class="tab tab-selected" for=".week-calendar">
                    <h1 id="notifications">
                        <i class="fa fa-calendar"></i>
                        Calendar
                    </h1>
                </div>
                <div class="small-tab-fill"></div>
                <div class="tab tab-unselected" for=".courses-tab">
                    <h1  id="courses">
                        <i class="fa fa-graduation-cap"></i>
                        Courses
                    </h1>
                </div>
                <div class="small-tab-fill"></div>
                <div class="tab tab-unselected" for=".grades-tab">
                    <h1 id="assignments">
                        <i class="fa fa-trophy"></i>
                        Grades
                    </h1>
                </div>
                <div class="tab-fill"></div>
            </div>
            <div class="week-calendar">
                <div class="calendar-header">
                    <i class="fa fa-arrows-alt expand-calendar"></i>
                    <div class="calendar-controls">
                        <div class="previous-week-button calendar-button"
                            title="See previous week">
                            <i class="fa fa-caret-left"></i>
                        </div>
                        <div class="current-date-button calendar-button"
                            title="See current week">
                            Today
                        </div>
                        <div class="next-week-button calendar-button"
                            title="See next week">
                            <i class="fa fa-caret-right"></i>
                        </div>
                    </div>
                    <h2>Week of July 9th</h2>
                </div>
                <ul class="weekdays">
                    <li class="weekday monday">
                        <div class="weekday-name">
                            <span class="wd-date">9</span>
                            <span class="wd-day">Mon</span>
                        </div>
                        <div class="assignment-block">
                            <div class="assignment-block-header">English</div>
                            <div class="assignment-block-text">
                                Assignment due today.
                            </div>
                        </div>
                    </li>
                    <li class="weekday tuesday">
                        <div class="weekday-name">
                            <span class="wd-date">10</span>
                            <span class="wd-day">Tue</span>
                        </div>
                    </li>
                    <li class="weekday wednesday">
                        <div class="weekday-name">
                            <span class="wd-date">11</span>
                            <span class="wd-day">Wed</span>
                        </div>
                    </li>
                    <li class="weekday thursday">
                        <div class="weekday-name">
                            <span class="wd-date">12</span>
                            <span class="wd-day">Thu</span>
                        </div>
                    </li>
                    <li class="weekday friday">
                        <div class="weekday-name">
                            <span class="wd-date">13</span>
                            <span class="wd-day">Fri</span>
                        </div>
                        <div class="assignment-block">
                            <div class="assignment-block-header">English</div>
                            <div class="assignment-block-text">
                                Test today.
                            </div>
                        </div>
                        <div class="assignment-block">
                            <div class="assignment-block-header">English</div>
                            <div class="assignment-block-text">
                                Assignment due today.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            {% set reviews = user.get_assigned_reviews(5) %}
            {% if reviews %}
            <div class="grades-tab">
                <h2>Summary</h2>
                <ul class="gradebooks">
                    <li class="gradebook-viewer">
                        <div class="gradebook-summary">
                            <h3>English - Deboer-Langworthy</h3>
                            <div class="gradebook-details-button">
                                <i class="fa fa-plus-square-o"></i>Details
                            </div>
                        </div>
                        <div class="gradebook-details">
                            <div class="gradebook-assignments-container">
                                <div class="gradebook-assignments-container-top-push"></div>
                                <ul class="gradebook-assignments">
                                    <li class="gradebook-assignments-header">
                                        <div class="gradebook-header-due gradebook-entry">
                                            Date Due
                                        </div>
                                        <div class="gradebook-header-name gradebook-entry">
                                            Assignment
                                        </div>
                                        <div class="gradebook-header-score gradebook-entry">
                                            Score
                                        </div>
                                        <div class="gradebook-header-percent gradebook-entry">
                                            %
                                        </div>
                                    </li>
                                    <li class="gradebook-assignment">
                                        <div class="gradebook-entry-due gradebook-entry">
                                            02/01/2014
                                        </div>
                                        <div class="gradebook-entry-name gradebook-entry">
                                            HW #1
                                        </div>
                                        <div class="gradebook-entry-score gradebook-entry">
                                            4/5
                                        </div>
                                        <div class="gradebook-entry-percent gradebook-entry">
                                            80
                                        </div>
                                    </li>
                                    <li class="gradebook-assignment">
                                        <div class="gradebook-entry-due gradebook-entry">
                                            03/15/2014
                                        </div>
                                        <div class="gradebook-entry-name gradebook-entry">
                                            HW #2
                                        </div>
                                        <div class="gradebook-entry-score gradebook-entry">
                                            9/10
                                        </div>
                                        <div class="gradebook-entry-percent gradebook-entry">
                                            90
                                        </div>
                                    </li>
                                    <li class="gradebook-assignment">
                                        <div class="gradebook-entry-due gradebook-entry">
                                            04/12/2014
                                        </div>
                                        <div class="gradebook-entry-name gradebook-entry">
                                            HW #3
                                        </div>
                                        <div class="gradebook-entry-score gradebook-entry">
                                            10/10
                                        </div>
                                        <div class="gradebook-entry-percent gradebook-entry">
                                            100
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="gradebook-totals">
                                <div class="gradebook-score-total gradebook-total">
                                    <span class="total-descriptor">Score:</span>
                                    <span class="total-datum">23/25</span>
                                </div>
                                <div class="gradebook-percent-total gradebook-total">
                                    <span class="total-descriptor">Grade:</span>
                                    <span class="total-datum">92.0</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="gradebook-viewer">
                        <div class="gradebook-summary">
                            <h3>US History - Chester</h3>
                            <div class="gradebook-details-button">
                                <i class="fa fa-plus-square-o"></i>Details
                            </div>
                        </div>
                        <div class="gradebook-details">
                            <div class="gradebook-assignments-container">
                                <div class="gradebook-assignments-container-top-push"></div>
                                <ul class="gradebook-assignments">
                                    <li class="gradebook-assignments-header">
                                        <div class="gradebook-header-due gradebook-entry">
                                            Date Due
                                        </div>
                                        <div class="gradebook-header-name gradebook-entry">
                                            Assignment
                                        </div>
                                        <div class="gradebook-header-score gradebook-entry">
                                            Score
                                        </div>
                                        <div class="gradebook-header-percent gradebook-entry">
                                            %
                                        </div>
                                    </li>
                                    <li class="gradebook-assignment">
                                        <div class="gradebook-entry-due gradebook-entry">
                                            02/01/2014
                                        </div>
                                        <div class="gradebook-entry-name gradebook-entry">
                                            HW #1
                                        </div>
                                        <div class="gradebook-entry-score gradebook-entry">
                                            4/5
                                        </div>
                                        <div class="gradebook-entry-percent gradebook-entry">
                                            80
                                        </div>
                                    </li>
                                    <li class="gradebook-assignment">
                                        <div class="gradebook-entry-due gradebook-entry">
                                            03/15/2014
                                        </div>
                                        <div class="gradebook-entry-name gradebook-entry">
                                            HW #2
                                        </div>
                                        <div class="gradebook-entry-score gradebook-entry">
                                            9/10
                                        </div>
                                        <div class="gradebook-entry-percent gradebook-entry">
                                            90
                                        </div>
                                    </li>
                                    <li class="gradebook-assignment">
                                        <div class="gradebook-entry-due gradebook-entry">
                                            04/12/2014
                                        </div>
                                        <div class="gradebook-entry-name gradebook-entry">
                                            HW #3
                                        </div>
                                        <div class="gradebook-entry-score gradebook-entry">
                                            10/10
                                        </div>
                                        <div class="gradebook-entry-percent gradebook-entry">
                                            100
                                        </div>
                                    </li>
                                    <li class="gradebook-assignment">
                                        <div class="gradebook-entry-due gradebook-entry">
                                            04/12/2014
                                        </div>
                                        <div class="gradebook-entry-name gradebook-entry">
                                            HW #4
                                        </div>
                                        <div class="gradebook-entry-score gradebook-entry">
                                            10/10
                                        </div>
                                        <div class="gradebook-entry-percent gradebook-entry">
                                            100
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="gradebook-totals">
                                <div class="gradebook-score-total gradebook-total">
                                    <span class="total-descriptor">Score:</span>
                                    <span class="total-datum">33/35</span>
                                </div>
                                <div class="gradebook-percent-total gradebook-total">
                                    <span class="total-descriptor">Grade:</span>
                                    <span class="total-datum">94.2</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="courses-tab">
                <div class="no-courses-added">You have not added any courses yet.</div>
                <ul class="course-list">
                    <div class="course-li">
                        <div class="course-li-header">
                            <h2>
                                <a>English <span class="teacher-name"> - Deboer-Langworthy</span></a>
                            </h2>
                        </div>
                        <div class="course-contents">
                            <div class="announcements empty-announcements">
                                <h2 class="course-section-header">
                                    Announcements
                                </h2>
                                <ul class="course-announcements-list">
                                    <li class="no-announcements course-announcement">
                                    </li>
                                </ul>
                            </div>
                            <div class="course-section">
                                <h2 class="course-section-header">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Assignments
                                </h2>
                                <ul class="course-assignments">
                                    <li class="course-assignment">
                                        <div class="course-assignment-date">
                                            Tomorrow
                                        </div>
                                        <div class="course-assignment-content">
                                            Read Chapter 5 from Simons et al.
                                        </div>
                                    </li>
                                    <li class="course-assignment">
                                        <div class="course-assignment-date">
                                            June 21
                                        </div>
                                        <div class="course-assignment-content">
                                            <div class="course-assignment-text">
                                                Complete the first draft of your response paper on Atticus Finch. Remember to avoid passive voice.
                                            </div>
                                            <a class="button"
                                                href="{{ url_for('essays.create_essay') }}">
                                                Begin
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="course-li">
                        <div class="course-li-header">
                            <h2>
                                <a>US History - <span class="teacher-name">Chester</span></a>
                            </h2>
                        </div>
                        <div class="course-contents">
                            <div class="existing-announcements">
                                <h2 class="course-section-header">
                                    Announcement
                                </h2>
                                <ul class="course-announcements-list">
                                    <li class="course-announcement">
                                        <i class="fa fa-angle-double-right"></i>
                                        <div class="course-announcement-text">
                                            You should complete the Adams reading by Monday.
                                        </div>
                                    </li>
                                    <li class="course-announcement">
                                        <i class="fa fa-angle-double-right"></i>
                                        <div class="course-announcement-text">
                                            Don't forget, we'll be having a pop quiz next week covering material in the current unit.
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="course-section">
                                <h2 class="course-section-header">
                                    <i class="fa fa-pencil-square-o"></i>
                                    Assignments
                                </h2>
                                <ul class="course-assignments">
                                    <li class="course-assignment">
                                        <span class="course-assignment-date">
                                            Tomorrow
                                        </span>
                                        <span class="course-assignment-content">
                                            Read Chapter 5 from Simons et al.
                                        </span>
                                    </li>
                                    <li class="course-assignment">
                                        <div class="course-assignment-date">
                                            June 21
                                        </div>
                                        <div class="course-assignment-content">
                                            <div class="course-assignment-text">
                                                Complete the first draft of your response paper on Atticus Finch. Remember to avoid passive voice.
                                            </div>
                                            <a class="button"
                                                href="{{ url_for('essays.create_essay') }}">
                                                Begin
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="notifications-container">
            <h2>
                Notifications
            </h2>
            <ul class="notifications">
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="far-right-col">
    </div>
</div>

{% endblock %}
