{% extends 'base/application_main.html' %}

{% block styles %}
    {{ super() }}
    {% assets "forgot-password_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" \>
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "forgot_password_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
<div class="page-container forms-wrapper top-margin bottom-margin log-in">
    <div class="table-wrapper">
        {% if email_sent %}
            <h1>Check your email</h1>
            <p>We've sent an email to <span class="email">{{ user_to_recover.email }}</span> with instructions for resetting your password.</p>
        {% else %}
                <h1>Forgot your password?</h1>
                {% include "shared/flashes.html" %}
                <table>
                    <form method="post">
                        <tr>
                            <td>
                                <input class="textfield" type="text" 
                                    placeholder="Email" name="user_to_recover" id="user_to_recover" />
                                <div class="form-error-message hidden">Invalid email</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="button-field" type="submit" value="Submit" />
                                <a class="back" href="/log-in">Cancel</a>
                            </td>
                        </tr>
                    </form>
                </table>
        {% endif %}
    </div>
</div>
{% endblock %}
