{% extends 'base/application_main.html' %}
{% block content %}
<div class="page-container top-margin bottom-margin log-in">
    {% if email_sent %}
    <h1>Check your email</h1>
    <p>We've sent an email to {{ user_to_recover.email }} with instructions for resetting your password.</p>
    {% else %}
    <h1>Forgot your password?</h1>
    <p>Did you forget your password, bro?</p>
    {% include "shared/flashes.html" %}
    <form method="post">
        <label for="user_to_recover">Email</label>
        <input type="text" name="user_to_recover" id="user_to_recover" />
        <input type="submit" value="Submit" />
    </form>
    {% endif %}
</div>
{% endblock %}
