{% extends 'base/application_main.html' %}

{% block title %}
    Log In
{% endblock %}

{% block styles %}
    {{ super() }}
    {% assets "login_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "login_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}

<div class="page-container forms-wrapper top-margin bottom-margin log-in">
    {% if is_logged_in %}
        <div class="table-wrapper">
            <h1 id="welcome">You're already signed in </h2>
            <p class="explan">
            If this is not your account you can sign out and sign back in as yourself.
            </p>
            <div class="log-out">
                <table>
                    <tr>
                        <td>
                            <a href="/log-out">
                                <input id="login" class="button-field"
                                type="submit" value="Sign Out" />
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    {% else %}
        <div class="table-wrapper">
            <h1 id="welcome">Welcome Back </h2>
            {% include "shared/flashes.html" %}
            <table>
                <form method="post" id="log-in">
                    {% include "shared/csrf.html" %}
                    {% if next_location %}
                    <input type="hidden" name="next_location" value="{{ next_location }}" />
                    {% endif %}
                    <tr class="field">
                        <td>
                            <div class="td-contents">
                                <input class="textfield" type="text"
                                placeholder="Email" id="login_email" name="email" />
                                <div class="form-error-message hidden">Invalid email</div>
                            </div>
                        </td>
                    </tr>
                    <tr class="field">
                        <td>
                            <div class="td-contents">
                                <input class="textfield" type="password"
                                    placeholder="Password" id="login_password" name="password" />
                                <div class="form-error-message hidden">Required field</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="td-contents">
                                <input id="login" class="button-field"
                                    type="submit" value="Log In" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="links">
                            <div class="td-contents">
                                <div class="forgot-password">
                                    <p>Don't have an account?
                                        <a class="sign-up-link"
                                            href="{{ url_for('users.signup') }}">
                                                Sign up
                                        </a>
                                    </p>
                                    <a class="password-forgot-link"
                                        href="{{ url_for('users.forgot_password') }}">
                                        Forgot password?
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    {% endif %}
</div>

{% endblock %}
