{% extends 'base/application.html' %}

{% block styles %}
    {{ super() }}
    {% assets "users_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="page-container">
        <div id="user-profile">
            <img src="{{ viewed_user.email | gravatar }}" />
            <div id="user-info">
                <h1>{{ viewed_user.username }}</h1>
                <div>Member!</div>
            </div>
        </div>
    </div>
</div>

{% if user and viewed_user.uid == user.uid %}
    <div class="page-container bottom-margin">
        <a class="btn btn-primary" href="{{ url_for('essays.create_essay') }}"> Write Paper </a>
        <a class="btn btn-primary" href="{{ url_for('essays.upload_essay') }}"> Upload Paper </a>
    </div>
{% endif %}

{% endblock %}
