{% extends 'base/application_main.html' %}

{% block styles %}
    {{ super() }}
    {% assets "users_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "profile_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
<div class="dashboard">
    <div class="left-col">
        <div class="top-push"></div>
        <div id="user-profile">
            <img src="{{ viewed_user.email | gravatar }}" />
            <div class="item-count item-count-first">
                <a href="/essays">8</a>
                Documents
            </div>
            <div class="item-count item-count-last">
                <a href="#">16</a>
                Drafts
            </div>
            <div id="user-info">
                <h1>{{ viewed_user.first_name }} {{ viewed_user.last_name }}</h1>
                <div>Student</div>
            </div>
            <div class="button-panel">
                <a class="button" href="{{ url_for('essays.create_essay') }}">
                    Write Paper
                </a>
                <a class="button" href="{{ url_for('essays.upload_essay') }}">
                    Upload Paper
                </a>
            </div>
        </div>
        <div class="recent-essays">
            <div class="recent-essays-header">
                <h2>Recent Documents</h2>
                <div class="see-all-recent-wrapper">
                    <i class="fa fa-caret-right"></i>
                    <a href="/essays" class="see-all-recent">See All</a>
                </div>
            </div>
            <ul>
            {% if recent_essays %}
            {% for essay in recent_essays %}
                <li>
                    <a href="{{ url_for('essays.edit_essay', essayid=essay.eid) }}">
                        <div class="recent-doc">{{ essay.get_current_draft().title }}</div>
                        <div class="date">{{ essay.pretty_modified_date() }} </div>
                    </a>
                </li>
            {% endfor %}
            {% else %}
            <div class="no-documents">
                No documents. Create one <a href="/essays/create">here</a>!
            </div>
            {% endif %}
            </ul>
        </div>
    </div>
    <div class="right-col">
        <div class="top-push"></div>
        <h1 class="tab-selected" id="notifications">Notifications</h1>
        <h1 class="tab-unselected" id="assignments">Assignments</h1>
        <div class="tab-fill"></div>
        <ul class="notifications">
            <li class="notification">
                <div class="notification-thumbnail"></div>
                <div class="notification-content">
                    <div class="author-date">
                        <div class="notification-author">Peernote</div>
                        <div class="notification-date">Today</div>
                    </div>
                    <div class="notification-text">
                        Hello and welcome to Peernote! This is your notifications center, where you will receive updates and announcements.
                    </div>
                </div>
            </li>
            <li class="notification">
                <div class="notification-thumbnail"></div>
                <div class="notification-content">
                    <div class="author-date">
                        <div class="notification-author">Bryce A.</div>
                        <div class="notification-date">Yesterday</div>
                    </div>
                    <div class="notification-text">
                        Your essay is bad and you should feel bad about it.
                    </div>
                </div>
            </li>
        </ul>
        {% set reviews = user.get_assigned_reviews(5) %}
        {% if reviews %}
        <div class="assigned-reviews">
            <ul class="assignments">
                {% for review in reviews %}
                <li class="assignment">
                <div class="notification-thumbnail"></div>
                <div class="notification-content">
                    <div class="author-date">
                        <div class="notification-author"> {{ review.get_requesting_user().first_name }} {{ user.last_initial() }}.
                        </div>
                        <div class="notification-date">{{ review.pretty_request_date() }}</div>
                    </div>
                    <div class="notification-text">
                        {{ review.get_requesting_user().first_name }} requested a review.
                        <a href="{{ url_for('reviews.review_draft', reviewhash=review.urlhash) }}">
                            {{ review.get_draft().title }}
                        </a>
                    </div>
                </div>
                </li>
                {% endfor %}
            </ul>
            <div class="past-assignments">
                <a href="#" class="see-all-recent">Past Assignments</a>
                <i class="fa fa-caret-right"></i>
            </div>
        </div>
        {% endif %}

    </div>
</div>


{% endblock %}
