{% extends 'base/application_main.html' %}
{% block content %}
<div class="page-container top-margin bottom-margin log-in">
    <h1>Reset password</h1>
    {% if password_reset %}
    <p>Your password has been reset. You may now <a href="{{ url_for('users.log_in') }}">log in</a>.</p>
    {% else %}
    {% include "shared/flashes.html" %}
    <form method="post">
        <div>
            <label for="new_password">New password</label>
            <input type="password" id="new_password" name="password" />
        </div>
        <div>
            <label for="new_password_again">New password (again)</label>
            <input type="password" id="new_password_again" name="password_again" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
