{% extends 'base/application_main.html' %}

{% block styles %}
    {{ super() }}
    {% assets "reset-password_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "reset_password_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
<div class="page-container forms-wrapper top-margin bottom-margin log-in">
    <div class="table-wrapper">
        <h1>Reset password</h1>
        {% if password_reset %}
            <p>Your password has been reset. You may now <a href="{{ url_for('users.log_in') }}">log in</a>.</p>
        {% else %}
            {% include "shared/flashes.html" %}
            <form method="post">
                <table>
                    <tr>
                        <td>
                            <input placeholder="New password" class="textfield" 
                                type="password" id="new_password" name="password" />
                            <div class="form-error-message hidden">6 character minimum</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input placeholder="New password again" class="textfield" 
                                type="password" id="new_password_again"
                                name="password_again" />
                            <div class="form-error-message hidden">Doesn't match password</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="button-field" type="submit" 
                                value="Reset Password" />
                        </td>
                    </tr>
                </table>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
