{% extends 'base/application_main.html' %}

{% block styles %}
    {{ super() }}
    {% assets "reset-password_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
<div class="page-container top-margin bottom-margin log-in">
    <div class="table-wrapper">
        <h1>Reset password</h1>
        {% if password_reset %}
            <p>Your password has been reset. You may now <a href="{{ url_for('users.log_in') }}">log in</a>.</p>
        {% else %}
            {% include "shared/flashes.html" %}
            <form method="post">
                <table>
                    <tr>
                        <td>
                            <label for="new_password">New password</label>
                        </td>
                        <td>
                            <input class="textfield" type="password" id="new_password" name="password" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="new_password_again">New password (again)</label>
                        </td>
                        <td>
                            <input class="textfield" type="password" id="new_password_again" name="password_again" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="button-field" type="submit" value="Reset Password" />
                        </td>
                    </tr>
                </table>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
