{% extends 'base/application_main.html' %}

{% block styles %}
    {{ super() }}
    {% assets "settings_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    {% assets "settings_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets "settings2_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block lightboxes %}
    <form class="forms-wrapper" id="delete-form" method="post" action="{{ url_for('users.delete_account') }}">
        {% include "shared/csrf.html" %}
        <h1>Delete Account</h1>
        <p>Are you sure you would to delete your account? This cannot be undone.</p>
        <table>
            <tr class="field">
                <td>
                    <input class="button-field" type="submit" value="I understand, delete my account" name="delete-my-account" />
                </td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block content %}

<div class="page-container top-margin bottom-margin settings">
    <div class="forms-wrapper">
    {% include "shared/flashes.html" %}
    <h1>Basic Info</h1>
    <form method="post">
        {% include "shared/csrf.html" %}
        <table>
            <tr class="field">
                <td>
                    <label for="first_name">First Name (Required)</label>
                </td>
                <td>
                    <input class="textfield" type="text" id="first_name" name="first_name" value="{{ user.first_name }}" />
                    <div class="form-error-message hidden">Required field</div>
                </td>
            </tr>
            <tr class="field">
                <td>
                    <label for="last_name">Last Name (Required)</label>
                </td>
                <td>
                    <input class="textfield" type="text" id="last_name" name="last_name" value="{{ user.last_name }}" />
                    <div class="form-error-message hidden">Required field</div>
                </td>
            </tr>
            <tr class="field">
                <td>
                    <label for="new_email">Email (Required)</label>
                </td>
                <td>
                    <input type="text" class="textfield" id="new_email" name="email" value="{{ user.email }}" />
                    <div class="form-error-message hidden">Invalid email</div>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="button-field" type="submit" value="Update Info" />
                </td>
            </tr>

        </table>
    </form>
    <form method="post">
        {% include "shared/csrf.html" %}
        <h1>Change Password</h1>
        <table>
            <tr class="field">
                <td>
                    <label for="new_password">New Password</label>
                </td>
                <td>
                    <input type="password" class="textfield" id="new_password" name="password" />
                    <div class="form-error-message hidden">Require at least 6 characters</div>
                </td>
            </tr>
            <tr class="field">
                <td>
                    <label for="new_password_again">New Password Again</label>
                </td>
                <td>
                    <input type="password" class="textfield" 
                    id="new_password_again" name="password_again" />
                    <div class="form-error-message hidden">Doesn't match password</div>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="button-field" type="submit" value="Update Password" />
                </td>
            </tr>
        </table>
    </form>
    <form method="post">
        {% include "shared/csrf.html" %}
        <h1>Mail Settings</h1>
        <p>Please email me when...</p>
        <table class="mail-settings-table">
            <tr class="field">
                <td class="mail">
                    <label for="check-1">Someone finishes reviewing my document</label>
                </td>
                <td>
                    <input id="check-1" class="checkbox" type="checkbox" checked />
                </td>
            </tr>
            <tr class="field">
                <td class="mail">
                    <label for="check-2">I receive a notification</label>
                </td>
                <td>
                    <input id="check-2" class="checkbox" type="checkbox" checked />
                </td>
            </tr>
            <tr class="field">
                <td class="mail">
                    <label for="check-3">Someone requests a review from me</label>
                </td>
                <td>
                    <input id="check-3" class="checkbox" type="checkbox" checked/>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="button-field" type="submit" value="Update Info" />
                </td>
            </tr>
        </table>
    </form>

    <h1>Delete Account</h1>
        <p>Deleting your account will permanently delete all of your documents. </p>
    <a id="delete-button" class="btn btn-primary">Delete Account</a>
</div>
</div>


{% endblock %}
