{% extends 'base/application_main.html' %}

{% block styles %}
    {{ super() }}
    {% assets "signup_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "signup_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
<div class="page-container top-margin bottom-margin">
    {% if is_logged_in %}
        <div class="error full-error">
        <h1>Already registered</h1>
        <p>You are already registered. Go <a href="{{ url_for('front.index') }}">home</a>.</p>
    </div>
    {% else %}

    {% include "shared/form_errors.html" %}
    <div class="signup-wrapper forms-wrapper">
        <h1 class="sign-up">Sign up</h1>
        <form id="signup-form" method="post">
            {{ form.csrf_token }}
            <table>
                <tr class="field">
                    <td>
                        <input class="textfield" type="text" 
                            id="signup_first_name" name="first_name" 
                            placeholder="First Name" />
                            <div class="form-error-message hidden">Required field</div>
                    </td>
                </tr>
                <tr class="field">
                    <td>
                        <input class="textfield" type="text" 
                            id="signup_last_name" name="last_name" placeholder="Last Name"/>
                            <div class="form-error-message hidden">Required field</div>
                    </td>
                
                </tr>

                <tr class="field">
                    <td>
                        <input class="textfield" type="text" placeholder="Email" autocomplete="off" id="signup_email" name="email" />
                        <div class="form-error-message hidden">Invalid email address</div>
                    </td>
                </tr>
                <tr class="field">
                    <td>
                        <input class="textfield" type="password" 
                            id="signup_password" name="pw" placeholder="Password"/>
                            <div class="form-error-message hidden">6 or more characters</div>
                    </td>
                </tr>
                <tr class="field">
                    <td>
                        <input class="textfield" type="password" 
                            id="signup_password_confirm" name="pw_again" placeholder="Password Again"/>
                            <div class="form-error-message hidden">Doesn't match password</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="signup-submit" class="button-field" 
                            type="submit" value="Sign up" />
                    </td>
                </tr>
                <tr>
                    <td class="already-account">
                        Already have an account? <a href="/log-in">Log in</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
