{% extends 'base/application_main.html' %}
{% block styles %}
    {{ super() }}
    {% assets "signup_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}

<div class="page-container top-margin bottom-margin">
    {% if is_logged_in %}
        <div class="error full-error">
        <h1>Already registered</h1>

        <p>You are already registered. Go <a href="{{ url_for('front.index') }}">home</a>.</p>
    </div>
    {% else %}

    {% include "shared/form_errors.html" %}
    {% include "shared/flashes.html" %}
    <div class="signup-wrapper">
        <h1>Sign up</h1>
        <form method="post">
            {{ form.csrf_token }}
            <table>
                <tr class="field">
                    <td>
                        <label for="signup_username">Username</label>
                    </td>
                    <td>
                        <input class="textfield" type="text" id="signup_username" name="username" />
                    </td>
                </tr>
                <tr class="field">
                    <td>
                        <label for="signup_email">Email</label>
                    </td>
                    <td>
                        <input class="textfield" type="text" id="signup_email" name="email" />
                    </td>
                </tr>
                <tr class="field">
                    <td>
                        <label for="signup_password">Password</label>
                    </td>
                    <td>
                        <input class="textfield" type="password" id="signup_password" name="pw" />
                    </td>
                </tr>
                <tr class="field">
                    <td>
                        <label for="signup_password_confirm">Password again</label>
                    </td>
                    <td>
                        <input class="textfield" type="password" id="signup_password_confirm" name="pw_again" />
                    </td>
                </tr>
            </table>
                <div class="field captcha">
                    <p>Are you human?</p>
                    <img src="/captcha.png" />
                    <input class="textfield" type="text" name="cover" />
                    <p class="explanation">
                        Please enter the text in the image to the left. Case does not matter. Separate words by spaces.
                    </p>
                </div>
                <table>
                <tr>
                    <td>
                        <input class="button-field" type="submit" value="Sign up" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
