{% extends 'base/application_main.html' %}
{% block content %}

<div class="page-container top-margin bottom-margin">
    {% if is_logged_in %}
        <div class="error full-error">
        <h1>Already registered</h1>

        <p>You are already registered. Go <a href="{{ url_for('front.index') }}">home</a>.</p>
    </div>
    {% else %}

    {% include "shared/form_errors.html" %}

    <h1>Sign up</h1>
    <form method="post">
        {{ form.csrf_token }}

        <div class="field">
            <label for="signup_username">Username</label>
            <input type="text" id="signup_username" name="username" />
        </div>
        <div class="field">
            <label for="signup_email">Email</label>
            <input type="text" id="signup_email" name="email" />
        </div>
        <div class="field">
            <label for="signup_password">Password</label>
            <input type="password" id="signup_password" name="pw" />
        </div>
        <div class="field">
            <label for="signup_password_confirm">Password again</label>
            <input type="password" id="signup_password_confirm" name="pw_again" />
        </div>
        <div class="button-field">
            <input type="submit" value="Sign up" />
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
