{% extends 'base/application_main.html' %}

{% block title %}
    Error 500
{% endblock %}

{% block styles %}
    {{ super() }}
    {% assets "404_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
<div class="page-container forms-wrapper top-margin bottom-margin">
    <div class="table-wrapper">
        <h1> 500 Internal Server Error </h2>
        <p>Well this is awkward... um. Probably Jackson's fault.</p>
    </div>
</div>
{% endblock %}
