{% extends 'base/application_main.html' %}

{% block title %}
Team
{% endblock %}

{% block styles %}
    {{ super() }}
    {% assets "meet-the-team_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}


<div class="page-container">
    <div class="team-bio">
        <div class="team-text">
            <h2>Hello from Peernote!</h2>
            <p class="intro-paragraph">
            Technology has improved essentially every aspect of daily life, yet classrooms have lagged behind. Teachers still issue and collect paper handouts, they mark-up essays by hand, and they enter grades into outdated systems. Growing class sizes and dwindling educational funding has only made managing classrooms more difficult. Teachers spend less time on their students and more time on the busywork necessary to run a classroom smoothly.
            </p>
            <p class="intro-paragraph">
                That's where we come in. We're a small team trying to make a big difference. Peernote was founded at Brown University by a group of entrepreneurial-minded programmers and designers. We're passionate about the problem and we have the skills and the drive to solve it.
            </p>
        </div>
        <div class="photo-wrapper team-photo-wrapper">
            <div class="team-photo"></div>
        </div>
    </div>
    <div class="team-member-container">
        <div class="team-member">
            <div class="photo-wrapper">
                <div class="photo photo-bryce"></div>
            </div>
            <div class="bio">
                <h2>
                    Bryce Aebi<span class="position">, Founder and Frontend Engineer</span>
                    <div class="social-links">
                        <a class="icon-wrapper" href="https://github.com/bryceAebi">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="icon-wrapper" href="http://www.linkedin.com/pub/bryce-aebi/29/560/935/">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </h2>
                <p>Bryce founded Peernote the summer of 2013. He built the initial prototype and put together the current Peernote team. Nowadays he works primarily as front-end engineer, product manager, and visionary. He brings startup experience from Wanderu, a ticket pricing search engine for ground travel.</p>
            </div>
        </div>
        <div class="team-member">
            <div class="photo-wrapper">
                <div class="photo photo-jeff"></div>
            </div>
            <div class="bio">
                <h2>
                    Jefferson Chen<span class="position">, Business Development Analyst</span>
                    <div class="social-links">
                        <a class="icon-wrapper" href="http://www.linkedin.com/pub/jefferson-chen/4a/815/257">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </h2>
                <p>"Jefferchen" had early admittance to medical school as a freshman, but has spent his time in school as a business major. He has worked at the tech consulting firm Altman Vilandrie &amp; Co, and founded Modif-eyes, a Brown startup that placed as a finalist in a state pitch competition.  </p>
            </div>
        </div>
        <div class="team-member">
            <div class="photo-wrapper">
                <div class="photo photo-alec"></div>
            </div>
            <div class="bio">
                <h2>
                    Alec Lee<span class="position">, Backend Engineer</span>
                    <div class="social-links">
                        <a class="icon-wrapper" href="https://github.com/al63">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="icon-wrapper" href="http://www.linkedin.com/pub/alec-lee/47/6b5/8b8">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </h2>
                <p>When Alec was a sophomore at Brown, the CEO of the company asked if he'd drop out of school to work full time. That's Alec. He brings his work experience from diverse companies including Mixpanel, Sourcefire, and Twitch.tv.</p>
            </div>
        </div>
        <div class="team-member">
            <div class="photo-wrapper">
                <div class="photo photo-jackson"></div>
            </div>
            <div class="bio">
                <h2>
                    Jackson "CTO 2" Owens<span class="position">, Backend Engineer</span>
                    <div class="social-links">
                        <a class="icon-wrapper" href="https://github.com/jbowens">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="icon-wrapper" href="http://www.linkedin.com/in/jacksonowens">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </h2>
                <p>Jackson once built a nationally popular Xbox fan site in PHP. With hundreds of thousands of views, two people met on his site and later married. That was 8 years ago in middle school. Since then, Jackson has worked at Microsoft and TripAdvisor and maintained a variety of open-source projects on Github.</p>
            </div>
        </div>
    </div>
</div>




{% endblock %}
