@import "../shared/_variables.scss";

$height-unit: 20px;
$width-unit: $height-unit;
$padding: $height-unit;
$default-border: gainsboro 1px solid;
$border-radius: 2px;

.footer-push {
    background: whitesmoke;
    //padding-bottom: $height-unit;
}

nav {
    //position:fixed;
    width: 100%;
}

.nav-section {
    position: fixed;
    opacity: 0;
}

.dummy-nav {
    width: 100%;
    height: 50px;
    display: none;
}

// add new course lightbox
.lightbox-inner-wrapper {
    width: 450px;
    height: 300px;
    margin-right: 10px;
    position: relative;

    h2 {
        color: #777;
        margin-bottom: 50px;
        float: left;
    }

    .slider-window {
        width: 438px;
        overflow-y:auto;
        overflow-x: hidden;
        clear: both;
    }

    .add-course-steps {
        overflow:auto;
        width: 1850px;
        clear: both;
        position: relative;

        .add-course-step {
            float: left;
            margin-right: 200px;
            overflow:auto;

            h1 {
                font-size: 24px;
                //margin-left: 15px;
            }

            input {
                border: 1px solid #ccc;
                border-radius: $border-radius;
                padding: 8px;
                font-size: 14px;
                width: 250px;
                margin-top: 15px;
            }

            select {
                font-size: 14px;
                margin-top: 15px;
                background: white;
            }
        }

        .add-course-step-3 {
            height: 200px;
            margin-left: 90px;

            h1 {
                width: 255px;
                position:relative;
                top: 12px;
            }
        }

        .check-container {
            background: #39bd41;
            height: 50px;
            width: 50px;
            border-radius: 25px;
            float: left;
            margin-right: 15px;

            i {
                color: white;
                font-size: 26px;
                position: relative;
                top: 12px;
                left: 12px;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .add-course-footer {
        overflow: auto;
        border-top: $default-border;
        width: 100%;
        position:absolute;
        bottom: 10px;
        width: 450px;

        .add-course-button {
            height: $height-unit;
            width: 50px;
            text-align: center;
            cursor: pointer;
            padding: 8px 8px 6px 8px;
            border-radius: $border-radius;
            margin-top: 10px;
            font-weight: 500;
            border: 1px solid rgba(0,0,0,0);
        }

        .add-course-next-button {
            background: $main-color-2;
            color: white;
            float: right;
        }

        .add-course-finish-button {
            display: none;
            background: $main-color-2;
            color: white;
            float: right;
        }

        .add-course-back-button {
            display: none;
            float: left;
            background: $white-color;
            color: #777;
            border: 1px solid #ccc;
            padding-right: 15px;
        }

        .add-course-back-button:hover {
            background: #e0e0e0;
        }
    }
}

.dashboard {
    width: $page-width;
    height:100%;
    background: #eee;
    position:relative;
    margin:auto;
    border: $default-border;
    height: auto;
    overflow: auto;
    border-top: none;

    .top-push {
        display:none;
        width: 100%;
        height: $height-unit;
    }

    $user-profile-container-width: 182px;
    $recent-essays-width: 240px;

    #user-profile {
        float: left;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: $border-radius;
        width: 300px;
        height: 100%;

        .user-profile-container {
            .button-panel {
                float: right;
                overflow: auto;
                margin-top: 25px;

                .button {
                    margin: 0;
                    margin-right: 4px;
                }

                float: left;

                i {
                    margin-right: 4px;
                }
            }

            .user-image-name {
                background: #666;//#777;//gainsboro;
                overflow: auto;
                min-height: 120px;
                border-bottom: $default-border;
                padding: $padding;


                img {
                    float: left;
                    height: 108px;
                    display: inline-block;
                    margin-right: $width-unit/2;
                }

                #user-info {
                    float: left;
                    margin-top: 10px;
                    color: whitesmoke;

                    h1 {
                        font-size:22px;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        .course-shortlist {
            padding: $padding;
            clear:both;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            h2 {
                border-bottom: $default-border;
                line-height: $height-unit;
                margin-bottom: $height-unit/2;
                padding-bottom: 5px;
            }

            ul {
                padding-bottom: $height-unit/2;
                margin-bottom: $height-unit/2;
                border-bottom: 1px dotted gainsboro;

                li {
                    font-size: 14px;
                    margin-bottom: $height-unit/4;
                    cursor: pointer;

                    i {
                        margin-right: $width-unit/2;
                        color: #999;
                    }

                    &:hover {
                        text-decoration: underline;

                        i {
                            color: #777;
                        }
                    }
                }
            }

            .add-course-link {
                cursor: pointer;
                color: #777;

                .icon-container {
                    position: relative;
                    bottom: 1px;
                    width: 19px;
                    height: 19px;
                    border-radius: 10px;
                    background: #aaa; //#39bd41;
                    color: whitesmoke;
                    opacity:1;
                    margin-right: 6px;
                    float:left;

                    i {
                        position:relative;
                        top:2px;
                        left: 4px;
                    }
                }

                &:hover {
                    text-decoration: underline;
                    color: #373737;

                    .icon-container {
                        opacity:1;
                    }
                }
            }
        }

        .recent-essays {
            width: 257px;
            float: left;
            clear: both;
            padding-top: $height-unit;
            padding: $padding;

            .recent-essays-header {
                overflow: auto;
                height: 19px;
                margin-bottom: 15px;

                h2 {
                    float: left;
                }
            }

            .no-documents {
                margin-top: 15px;
            }

            .see-all-recent-wrapper {
                float:right;

                i {
                    float: right;
                    margin-left: 4px;
                    position: relative;
                    top: 1px;
                    cursor: pointer;
                }

                .see-all-recent {
                    float: right;
                    display: block;
                    color: #777;
                    font-size: 12px;
                }
            }

            ul {
                clear: both;
                border-top: 1px solid $generic-divider-color;

                li {
                    padding: 0 0px 0px 0px;
                    border-bottom: 1px solid $generic-divider-color;

                    a {
                        color: #888;
                        color: $main-color-2;
                        font-weight: 500;
                        font-size: 14px;
                        display:block;
                        width: 100%;
                        overflow: auto;
                        padding-bottom: 7px;
                        padding-top: 7px;

                        .recent-doc {
                            float: left;
                            max-width: 188px;
                        }

                        .date {
                            float: right;
                            color: #888;
                        }

                        &:hover {
                            background: #f6f6f6;
                        }
                    }
                }
            }
        }
    }

    .right-col {
        float: right;
        width: 639px;
        border: $default-border;
        border-bottom: none;
        border-right: none;
        background: white;

        .tabbed-panes {
            background: white;
            padding: $padding;
            border-radius: $border-radius;
            overflow: auto;

            .tabs {
                overflow: auto;
                margin-bottom: $height-unit;

                h1 {
                    float: left;
                    padding: 0 8px 5px 0px;
                    font-size: 14px;
                    cursor: pointer;
                    margin-bottom: 0px;

                    i {
                        margin-right: 3px;
                    }
                }

                .tab-selected {

                    h1 {
                        border-bottom: 2px solid $main-color-2;
                        color: $main-color-2;
                    }
                }

                .tab-unselected {
                    h1 {
                        border-bottom: 2px solid $generic-divider-color;
                        color: #888;
                    }
                }

                $tab-fill-height: 31px;
                .tab-fill {
                   width: 315px;
                   height: $tab-fill-height;
                   float: left;
                   border-bottom: 2px solid $generic-divider-color;
                }

                .small-tab-fill {
                    width: 15px;
                    height: $tab-fill-height;
                    float: left;
                    border-bottom: 2px solid $generic-divider-color;
                }
            }

            .week-calendar {
                $dark-border-color: gainsboro;
                $calendar-width:  600px;
                $calendar-height: 240px;
                $calendar-header-height: 30px;
                width: $calendar-width;
                border-radius: $border-radius;

                .calendar-header {
                    $calendar-header-border-width: 1px;
                    background-color: #eee;
                    width: $calendar-width - 2px;
                    clear:both;
                    border: #ccc 1px solid;
                    border-top-left-radius: 2px;
                    border-top-right-radius: 2px;
                    overflow: auto;

                    h2 {
                        text-align: center;
                        font-size: 14px;
                        width: 200px;
                        margin: auto;
                        position: relative;
                        top: 5px;
                    }

                    .expand-calendar {
                        float: left;
                        margin-top:6px;
                        margin-left: $width-unit/2;
                        color: #777;
                        cursor: pointer;

                        &:hover {
                            color: #373737;
                        }
                    }

                    .calendar-controls {
                        width: 100px;
                        margin: auto;
                        margin-top: 2px;
                        float:right;

                        .calendar-button {
                            float: left;
                            cursor: pointer;
                            border: 1px solid rgba(0,0,0,0);
                            padding: 4px;

                        }

                        .calendar-button:hover {
                            border: $default-border;
                            background: #ececec;
                            border-radius: $border-radius;
                        }

                        .calendar-button:active {
                            border: 1px solid #bbb;
                            background: #ccc;
                        }

                        i {
                            width: 10px;
                            display: block;
                            margin-left: 5px;
                            width: 10px;
                        }

                        .current-date-button {
                            width: 35px;
                            font-size: 12px;
                            font-weight: 500;
                            position:relative;
                            bottom: 1px;
                            padding-top: 3px;
                            padding-bottom: 5px;
                        }
                    }
                }

                .weekdays {
                    overflow: auto;
                    clear: both;
                    border-bottom-right-radius: 2px;
                    border-bottom-left-radius: 2px;

                    .weekday {
                        $weekday-width: 118px;
                        width: $weekday-width;
                        height: 230px;
                        border-right: 1px solid $dark-border-color;
                        border-bottom: $default-border;
                        float: left;
                        overflow-y: auto;
                        background: white;

                        .weekday-name {
                            margin-top:2px;
                            padding-left: 6px;

                           .wd-date {
                               color: #777;
                               font-weight: 500;
                           }
                        }

                        .assignment-block {
                            $assignment-block-width: $weekday-width - 10px;
                            width: $assignment-block-width;
                            margin:auto;
                            margin-top: 5px;
                            border: 1px solid $dark-border-color;
                            border-radius: $border-radius;
                            max-height: 80px;
                            font-size: 12px;
                            cursor: pointer;
                            background: rgba(169, 115, 180, 0.5);

                            .assignment-block-header {
                                margin: 2px;
                                height: 20px;
                                width: $weekday-width - 18px;
                                background: #555;
                                color: $white-color;
                                font-weight: 500;
                                font-size: 12px;
                                padding-left: 4px;
                            }

                            .assignment-block-text {
                                $horizontal-padding: 3px;
                                width: $assignment-block-width - (2 * $horizontal-padding);
                                padding: 0 $horizontal-padding;
                                padding-bottom: 3px;
                            }
                        }

                        .assignment-block:hover {
                            background: rgba(169, 115, 180, 0.6);
                        }
                    }

                    .weekday.friday {
                        width: 122px;
                        border-bottom-right-radius: $border-radius;
                    }

                    .weekday.monday {
                        border-left: $default-border;
                        border-bottom-left-radius: $border-radius;
                    }

                    .current-weekday {
                        background: #F1EBF2;
                    }
                }
            }

            .courses-tab {
                width: 600px;
                min-height: 240px;
                display: none;

                .no-courses-added {
                    font-style: italic;
                    margin-bottom: 15px;
                    display: none;
                }

                .course-list {
                    overflow-y: auto;

                    .course-li {
                        border: $default-border;
                        border-radius: $border-radius;
                        margin-bottom: $height-unit;
                        background: white;

                        .course-li-header {
                            background: #eee;
                            padding: 5px 15px;
                            border-bottom: 1px solid #ccc;
                            overflow: auto;

                            h2 {
                                float: left;

                                a {
                                    display: block;
                                    color: #373737;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }

                                .teacher-name {
                                    color: #777;
                                    font-size: 14px;
                                }
                            }
                        }

                        .course-contents {
                            padding: $padding;

                            .course-section {
                                padding: 0;
                                margin-bottom: $height-unit;

                                .course-section-header {
                                    font-size: 14px;
                                    border-bottom: $default-border;
                                    padding-bottom: 3px;
                                    margin-bottom: $height-unit;
                                    line-height: $height-unit;

                                    i {
                                        margin-right: 5px;
                                        float: left;
                                        position:relative;
                                        top: 3px;
                                    }
                                }

                                .course-announcement {
                                    margin-left: $width-unit;
                                    margin-bottom: 5px;
                                    font-style: italic;
                                }

                                .no-announcements {
                                    font-style: italic;
                                }

                                .course-assignment {
                                    padding-bottom: $height-unit;
                                    overflow: auto;
                                    margin-left: $width-unit;
                                    margin-bottom: $height-unit;
                                    border-bottom: 1px dotted gainsboro;
                                    clear: both;

                                    .course-assignment-date {
                                        font-weight: 500;
                                        width: 100px;
                                        float: left;
                                    }

                                    .course-assignment-content {
                                        float: left;

                                        .course-assignment-text {
                                            display: block;
                                            float: left;
                                            width: 300px;
                                            line-height: $height-unit;
                                        }

                                        a {
                                            display: block;
                                            margin: 0;
                                            margin-top: 5px;
                                            margin-left: 10px;
                                            float: left;

                                            i {
                                                margin-left:4px;
                                            }
                                        }
                                    }

                                    &:last-child {
                                        border-bottom: none;
                                        margin-bottom: 0;
                                        padding-bottom: 0;
                                    }
                                }
                            }
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .grades-tab {
                display: none;

                h2 {
                    border-bottom: $default-border;
                    padding-bottom: 15px;
                }

                .gradebooks {
                    $gradebooks-width: 599px;

                    .gradebook-viewer {
                        border-bottom: $default-border;
                        position: relative;
                        padding: $height-unit/2 0;

                        &:last-child {
                            border-bottom: none;
                        }

                        .gradebook-summary {
                            overflow: auto;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            padding-top: $height-unit/2;
                            margin-top: $height-unit/2;

                            h3 {
                                font-weight: 600;
                                //line-height: $height-unit;
                                float:left;
                            }

                            .gradebook-details-button {
                                float: right;
                                cursor: pointer;

                                i {
                                    margin-right: 5px;
                                }

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }

                        .gradebook-details .gradebook-assignments-container {
                            overflow: auto;
                            display:none;

                            .gradebook-assignments-container-top-push {
                                height: $height-unit * 2;
                                width: 100%;
                                display: none;
                            }

                            .gradebook-assignments {
                                overflow: auto;
                                border: $default-border;
                                border-bottom: 2px solid #ccc;

                                .gradebook-entry {
                                    float: left;
                                    line-height: $height-unit;
                                    padding: $height-unit/2 0;
                                    padding-left: $width-unit;
                                    width: ($gradebooks-width - 2)/4 - $width-unit;
                                    text-align: left;
                                    overflow: hidden;
                                }

                                .gradebook-assignment, .gradebook-assignments-header {
                                    clear: both;
                                    overflow: auto;
                                }

                                .gradebook-assignments-header {
                                    border-bottom: $default-border;
                                    background: #888;

                                    .gradebook-entry {
                                        font-weight: 500;
                                        color: whitesmoke;
                                    }
                                }

                                .gradebook-assignment {
                                    border-bottom: gainsboro 1px dotted;

                                    &:nth-child(odd) {
                                        background: #eee;
                                    }

                                    &:last-child {
                                        border-bottom: none;
                                    }
                                }
                            }
                        }

                        .gradebook-totals {
                            overflow: auto;

                            .gradebook-total {
                                float: left;
                                padding: $height-unit/2 0;

                                $total-desc-width: 50px;
                                .total-descriptor {
                                    font-weight: 500;
                                    width: $total-desc-width;
                                    display: block;
                                    float: left;
                                }

                                .total-datum {
                                    display: block;
                                    width: 80px;
                                    float: left;
                                }

                                &.gradebook-score-total .total-descriptor {
                                    margin-left: 270px;
                                }

                                &.gradebook-percent-total .total-descriptor {
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .notifications-container {
            background: white;
            clear: both;
            padding: $padding;
            float: left;
            width: 599px;
            border-top: $default-border;
            border-radius: $border-radius;

            .notifications {
                overflow: auto;
                clear: both;
                padding-bottom: $height-unit;

                .notification {
                    overflow: auto;
                    padding-bottom: $height-unit;
                    margin-bottom: $height-unit;
                    border-bottom: 1px dotted $generic-divider-color;

                    .notification-thumbnail {
                        height: 40px;
                        width: 40px;
                        background: #ccc;
                        float: left;
                    }

                    .notification-content {
                        float: left;
                        width: 480px;
                        margin-left: $width-unit;

                        .author-date {
                            margin-bottom: $height-unit;

                            .notification-author {
                                float: left;
                                font-weight: 600;
                            }

                            .notification-date {
                                float: right;
                                font-weight: 500;
                                color: #888;
                                font-size: 11px;
                            }
                        }

                        .notification-text {
                            line-height: $height-unit;
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                        border: none;
                    }
                }
            }

            h2 {
                margin-bottom: $height-unit;
                padding-bottom: 15px;
                border-bottom: $default-border;
            }
        }
    }

    .button {
        display: inline-block;
        height: 24px;
        padding: 0 7px 0 7px;
        margin: 0 0 0 7px;
        font-size: 11px;
        font-weight: bold;
        line-height: 24px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.8);
        border: solid 1px #aaa;
        float: left;
        cursor: pointer;
        text-decoration: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.05),inset 0 1px 0 0 #fff;
        border-radius: $border-radius;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #fafafa, #ededed);
        background-image: -ms-linear-gradient(top, #fafafa, #ededed);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
        background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
        background-image: linear-gradient(top, #fafafa, #ededed);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fffafafa',
        endColorstr='#ffededed', GradientType=0);
        -webkit-transition: all .05s linear;
        -moz-transition: all .05s linear;
        -ms-transition: all .05s linear;
        transition: all .05s linear;
    }
}
