@import "../shared/_form_default.scss";
@import "_small-form.scss";

.forgot-password {
    margin: auto;
    margin-top: 0px !important;
    display: block;
    position: absolute;
    top:245px;

    a {
        display:block;
        color: #888;
        float: left;
        clear: both;
        margin-right: 20px;
    }

    a:hover {
        color: #999;
    }
}

.button-field {
    
}
