@import "../shared/_small-form.scss";

.forgot-password {
    margin: auto;
    margin-top: 0px !important;
    display: block;
    position: absolute;
    top:245px;

    a {
        display:block;
        color: #888;
        float: left;
        clear: both;
        margin-right: 20px;
    }

    a:hover {
        color: #999;
    }
}

.table-wrapper {
    h1 {
        width: 250px;
        margin: auto;
        margin-bottom: 15px;
    }

    p {
        width: 250px;
        margin: auto;
        margin-bottom: 25px;
        line-height: 18px;

        .email {
            font-weight: 700;
        }
    }
}

.button-field {
    padding: 0 !important;
    width: 100px !important;
    height: 40px !important;
    margin-top: 0px !important;
}

.back {
    margin-top: 12px;
    margin-left: 165px;
    display: block;
    color: #888;
}

.back:hover {
    color: #999;
}
