@import "../shared/_small-form.scss";

.nav-section {
    position: fixed;
    opacity: 0;
}

.wrapper .page-container .table-wrapper table {
    h1 {
        width: 250px;
        margin: auto;
        margin-bottom: 15px;
    }

    p {
        width: 250px;
        margin: auto;
        margin-bottom: 25px;
        line-height: 18px;

        .email {
            font-weight: 700;
        }
    }

    .button-field {
        padding: 0;
        width: 100px;
        height: 40px;
        margin-top: 0px;
    }

    .back {
        margin-top: 12px;
        margin-left: 165px;
        display: block;
        color: #888;
    }

    .back:hover {
        color: #999;
    }
}
