@import "../shared/_small-form.scss";
.nav-section {
    position: fixed;
    opacity: 0;
}

.wrapper .page-container .table-wrapper {
    h1 {
        margin: auto;
        width: 250px;
        margin-bottom: 15px;
    }

    p {
        width: 250px;
        margin: auto;
        margin-bottom: 25px;
        line-height: 18px;
    }

    table .button-field {
        margin-top: 0;
        position: relative;
        top: 15px;
    }
}
