@import "../shared/_small-form.scss";

table {
    .button-field {
        margin-top: 0 !important;
        position: relative;
        top: 15px;
    }
}

.table-wrapper {
    h1 {
        margin: auto;
        width: 250px;
        margin-bottom: 15px;
    }

    p {
        width: 250px;
        margin: auto;
        margin-bottom: 25px;
        line-height: 18px;
    }
}

.forgot-password {
    margin: auto;
    margin-top: 0px !important;
    display: block;
    position: absolute;
    top: 245px;

    a {
        display:block;
        color: #888;
        float: left;
        clear: both;
        margin-right: 20px;
    }

    a:hover {
        color: #999;
    }
}
