@import "../shared/_form_default.scss";
@import "../shared/_form-errors.scss";

.mail {
    width: 300px !important;
}

.footer-push {
    background-color: $off-white-bg-color;

    .forms-wrapper {
        background-color: white;
        border: 1px solid $generic-divider-color;
        padding: 40px;
        position: relative;
        bottom: 20px;
    }
}

td {
    position: relative;
}

.td-contents {
    position: relative;
}

.message {
    display: block;
    margin-bottom: 10px;
    color: green;
}
