@import "../shared/form_default.scss";

.signup-wrapper {
    border: 1px $generic-divider-color solid;
    padding-top: 40px;
    padding-bottom: 30px;
    background: white;
    position: relative;
    bottom: 10px;
    margin-top: 15px;
}

table {
    width: 480px;
    margin: auto;
    margin-bottom: 10px !important;

    td {
        position:relative;
        height: 30px;
    }
}

input {
    width: 160px !important;
}

h1.sign-up {
    width: 480px;
    margin: auto;
    margin-bottom: 20px;
}

.page-container {
    width: 600px;
}

.captcha {
    width: 480px;
    margin: auto;

    .you-human-textfield {
        float: right;
        margin-right: 10px;
    }

    img {
        float: left;
        width:270px;
        height: 109px;
    }

    .explanation {
        margin-top: 15px;
        width: 185px;
        float: right;
    }
}

.button-field {
    padding: 10px 25px 10px 25px !important;
}

.form-error-message {
    //$error-border-color: #e3a198;
    width: 160px;
    margin: auto;
    padding: 3px;
    color: #b8211d;
    padding-left:5px;
    font-size: 12px;
    //background: #fed1d1;
    //border-bottom: 1px $error-border-color solid;
    //border-left: 1px $error-border-color solid;
    //border-right: 1px $error-border-color solid;
    //box-shadow: 0 3px 2px -2px rgba(0,0,0,0.2);
    position:absolute;
    left: 3px;
}

.textfield-error {
    -webkit-box-shadow: 0 0 3px 0 rgba(180,0,0,0.7) !important;
    -moz-box-shadow: 0 0 3px 0 rgba(180,0,0,0.7) !important;
    box-shadow: 0 0 3px 0 rgba(180,0,0,0.7) !important;
    border:1px solid #fed1d1 !important;
}

.captcha-input-container {
    float: right;
    width: 186px;
    height:48px;
    position: relative;
    
    .form-error-message {
        clear:both;
        top: 32px;
    }
}

.message.error {
    width: 186px;
    display: block;
    float: right;
    color: #b8211d;
    margin-bottom: 10px;
}
