@import "../shared/_small-form.scss";

.nav-section {
    opacity:0;
    position: fixed;
}

.wrapper {
    .page-container {
        .table-wrapper {
            border: 1px $generic-divider-color solid;
            padding-top: 40px;
            background: white;
            box-shadow: 0 1px 11px -2px rgba(0, 0, 0, 0.1);

            h1.sign-up {
                width: 250px;
                margin: auto;
                margin-bottom: 20px;
            }

            table {
                .already-account {
                    text-align: center;
                    padding-top: 5px;
                    color: #373737;
                }

                .radio-pair {
                    float: left;

                    label, input {
                        cursor: pointer;
                        float: left;
                    }

                    input {
                        margin-right: 8px;
                    }
                }

                .ima { // "I am a"
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                .radio-pair-first {
                    margin-right: 40px;
                }

                // For the honey pots
                .winnie-the-pooh {
                    display: none;
                }
            }
        }
    }
}

#radio-td {
    padding-top: 10px;
    padding-bottom: 5px;
}

