@import "../shared/_variables.scss";

.footer-push {
    background: whitesmoke;
    padding-bottom: 20px;
}

nav {
    position:fixed;
    width: 100%;
}

.nav-section {
    display: none;
    position: fixed;
    opacity: 0;
}

.dummy-nav {
    width: 100%;
    height: 50px;
}

$box-padding: 20px;

.dashboard {
    width: $page-width;
    height:0;
    background: whitesmoke;
    position:relative;
    margin:auto;
    border-top: 0px solid red;

    .top-push {
        width: 100%;
        height: 15px;
    }

    $user-profile-container-width: 182px;
    $recent-essays-width: 240px;

    #user-profile {
        float: left;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;
        background: white;
        margin-right: 15px;
        border: 1px solid gainsboro;
        border-radius: 2px;
        width: $recent-essays-width;
        position: fixed;

        .user-profile-container {
            margin-right: $box-padding;
            width: 100%;
            height: 222px;
            overflow: auto;
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px dotted gainsboro;

            img {
                float: left;
                height: 150px;
                display: inline-block;
                padding: 6px;
                border: 1px $generic-divider-color solid;
            }

            #user-info {
                float: left;
                margin-top: 10px;

                h1 {
                    font-size:24px;
                    margin-bottom: 5px;
                }
            }
        }

        .recent-essays {
            width: $recent-essays-width;
            float: left;
            clear: both;
            background: white;

            .button-panel {
                float: right;
                overflow: auto;
                margin-top: 10px;

                i {
                    margin-right: 4px;
                }
            }

            .recent-essays-header {
                overflow: auto;
                height: 17px;
                margin-bottom: 15px;

                h2 {
                    float: left;
                    font-size: 14px;
                }
            }

            .no-documents {
                margin-top: 15px;
            }

            .see-all-recent-wrapper {
                float:right;

                i {
                    float: right;
                    margin-left: 4px;
                    position: relative;
                    top: 1px;
                    cursor: pointer;
                }

                .see-all-recent {
                    float: right;
                    display: block;
                    color: #888;
                    font-size: 11px;
                }
            }

            ul {
                clear: both;
                border-top: 1px solid $generic-divider-color;

                li {
                    padding: 0 0px 0px 0px;
                    border-bottom: 1px solid $generic-divider-color;

                    a {
                        color: #888;
                        color: $main-color-2;
                        font-weight: 500;
                        font-size: 14px;
                        display:block;
                        width: 100%;
                        overflow: auto;
                        padding-bottom: 7px;
                        padding-top: 7px;

                        .recent-doc {
                            float: left;
                            max-width: 188px;
                        }

                        .date {
                            float: right;
                            color: #888;
                        }
                    }

                    a:hover {
                        background: #f6f6f6;
                    }
                }
            }
        }
    }

    .right-col {
        float: right;
        width: 642px;
        border-radius: 2px;

        .tabs {
            overflow: auto;

            h1 {
                float: left;
                padding: 0 8px 5px 0px;
                font-size: 14px;
                cursor: pointer;
                margin-bottom: 0px;

                i {
                    margin-right: 3px;
                }
            }

            .tab-selected {
                border-bottom: 1px solid $main-color-2;
                color: $main-color-2;
            }

            .tab-unselected {
                border-bottom: 1px solid $generic-divider-color;
                color: #888;
            }

            $tab-fill-height: 31px;
            .tab-fill {
               width: 382px;
               height: $tab-fill-height;
               float: left;
               border-bottom: 1px solid $generic-divider-color;
            }

            .small-tab-fill {
                width: 15px;
                height: $tab-fill-height;
                float: left;
                border-bottom: 1px solid $generic-divider-color;
            }
        }

        .tabbed-panes {
            background: white;
            padding: $box-padding;
            border: 1px solid gainsboro;
            overflow: auto;

            .week-calendar {
                $dark-border-color: gainsboro;
                $calendar-width:  600px;
                $calendar-height: 240px;
                $calendar-header-height: 30px;
                width: $calendar-width;
                border-radius: 2px;

                .calendar-header {
                    $calendar-header-border-width: 1px;
                    background-color: whitesmoke;
                    width: $calendar-width - 2px;
                    clear:both;
                    border: gainsboro 1px solid;
                    overflow: auto;
                    margin-top: 15px;

                    h2 {
                        text-align: center;
                        font-size: 14px;
                        width: 200px;
                        margin: auto;
                        position: relative;
                        top: 4px;
                    }

                    .calendar-controls {
                        width: 100px;
                        margin: auto;
                        margin-top: 2px;
                        float:right;

                        .calendar-button {
                            float: left;
                            cursor: pointer;
                            border: 1px solid rgba(0,0,0,0);
                            padding: 4px;

                        }

                        .calendar-button:hover {
                            border: 1px solid gainsboro;
                            background: #ececec;
                            border-radius: 2px;
                        }

                        .calendar-button:active {
                            border: 1px solid #bbb;
                            background: #ccc;
                            border-radius: 2px;
                        }

                        i {
                            width: 10px;
                            display: block;
                            margin-left: 5px;
                            width: 10px;
                        }

                        .current-date-button {
                            width: 35px;
                            font-size: 12px;
                            font-weight: 500;
                            position:relative;
                            bottom: 1px;
                            padding-top: 3px;
                            padding-bottom: 5px;
                        }
                    }
                }

                .weekdays {
                    overflow: auto;
                    clear: both;

                    .weekday {
                        border-top:1px solid gainsboro;
                        $weekday-width: 98px;
                        width: $weekday-width;
                        height: 230px;
                        border-right: 1px solid $dark-border-color;
                        border-bottom: 1px solid gainsboro;
                        float: left;
                        overflow-y: auto;
                        background: white;

                        .weekday-name {
                            margin-top:2px;
                            padding-left: 6px;

                           .wd-date {
                               color: #777;
                               font-weight: 500;
                           }
                        }

                        .assignment-block {
                            $assignment-block-width: $weekday-width - 10px;
                            width: $assignment-block-width;
                            border-radius: 2px;
                            margin:auto;
                            margin-top: 5px;
                            border: 1px solid $dark-border-color;
                            max-height: 80px;
                            font-size: 12px;
                            cursor: pointer;
                            background: rgba(169, 115, 180, 0.5);

                            .assignment-block-header {
                                margin: 2px;
                                height: 20px;
                                width: $weekday-width - 18px;
                                background: #555;
                                color: $white-color;
                                font-weight: 500;
                                font-size: 12px;
                                padding-left: 4px;
                            }

                            .assignment-block-text {
                                $horizontal-padding: 3px;
                                width: $assignment-block-width - (2 * $horizontal-padding);
                                padding: 0 $horizontal-padding;
                                padding-bottom: 3px;
                            }
                        }

                        .assignment-block:hover {
                            background: rgba(169, 115, 180, 0.6);
                        }
                    }

                    .weekday.saturday {
                        width: 103px;
                    }

                    .weekday.monday {
                        border-left: 1px solid gainsboro;
                    }

                    .current-weekday {
                        background: #F1EBF2;
                    }
                }

            }

            .assignments {
                margin-top: 20px;
            }

            .assigned-reviews {
                width: 600px;
                float: left;
                display: none;

                .past-assignments {
                    float: right;
                }
            }
        }

        .notifications, .assignments {
            overflow: auto;
            clear: both;

            .notification, .assignment {
                overflow: auto;
                padding-bottom:25px;
                margin-bottom: 25px;
                border-bottom: 1px dotted $generic-divider-color;

                .notification-thumbnail {
                    height: 40px;
                    width: 40px;
                    background: #ccc;
                    float: left;
                }

                .notification-content {
                    float: left;
                    width: 500px;
                    margin-left: 15px;

                    .author-date {
                        margin-bottom: 25px;
                        .notification-author {
                            float: left;
                            font-weight: 600;
                        }

                        .notification-date {
                            float: right;
                            font-weight: 500;
                            color: #888;
                            font-size: 11px;
                        }
                    }

                    .notification-text {
                        line-height: 18px;
                    }
                }
            }
        }

        .notifications-container {
            background: white;
            clear: both;
            margin-top: 15px;
            padding: $box-padding;
            float: left;
            width: 600px;
            border: 1px gainsboro solid;

            h2 {
                margin-bottom: 20px;
                padding-bottom: 15px;
                border-bottom: 1px gainsboro solid;
            }
        }
    }

    .button {
        display: inline-block;
        height: 24px;
        padding: 0 7px 0 7px;
        margin: 0 0 0 7px;
        font-size: 11px;
        font-weight: bold;
        line-height: 24px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.8);
        border: solid 1px #aaa;
        float: left;
        cursor: pointer;
        text-decoration: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.05),inset 0 1px 0 0 #fff;
        border-radius: 3px;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #fafafa, #ededed);
        background-image: -ms-linear-gradient(top, #fafafa, #ededed);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
        background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
        background-image: linear-gradient(top, #fafafa, #ededed);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fffafafa',
        endColorstr='#ffededed', GradientType=0);
        -webkit-transition: all .05s linear;
        -moz-transition: all .05s linear;
        -ms-transition: all .05s linear;
        transition: all .05s linear;
    }
}
