@import "../shared/_variables.scss";

.footer-push {
    background: whitesmoke;
}

.nav-section {
    display: none;
    position: fixed;
    opacity: 0;
}

$box-padding: 20px;

.dashboard {
    width: $page-width;
    height: 800px;
    background: whitesmoke;
    position:relative;
    margin:auto;
    border-top: 0px solid red;

    .top-push {
        width: 100%;
        height: 15px;
    }

    #user-profile {
        overflow-y: auto;
        overflow-x: hidden;
        padding: 20px;
        background: white;
        margin-bottom: 15px;
        border: 1px solid gainsboro;
        border-radius: 2px;

        $user-profile-container-width: 172px;

        .week-calendar {
            $dark-border-color: gainsboro;
            $calendar-width:  $page-width - $user-profile-container-width - (3 * $box-padding);
            $calendar-height: 260px;
            $calendar-header-height: 30px;
            width: $calendar-width;
            height: $calendar-height;
            float: right;
            border-radius: 2px;

            .calendar-header {
                $calendar-header-border-width: 1px;
                background-color: gainsboro;
                border: 1px solid #ccc;
                width: $calendar-width - 2px;
                height: $calendar-header-height - $calendar-header-border-width;
                border-bottom: $calendar-header-border-width solid $dark-border-color;
                text-align: center;
                position: relative;

                h2 {
                    padding-top: 6px;
                }

                .calendar-controls {
                    width: 120px;
                    position: absolute;
                    left: 0;
                    top: 2px;

                    .calendar-button {
                        float: left;
                        cursor: pointer;
                        border: 1px solid rgba(0,0,0,0);
                        padding: 4px;
                    }

                    .calendar-button:hover {
                        border: 1px solid #bbb;
                        background: #ccc;
                        border-radius: 2px;
                    }

                    i {
                        width: 15px;
                        display: block;
                    }

                    .current-date-button {
                        width: 40px;
                        font-size: 12px;
                        font-weight: 500;
                        position:relative;
                        bottom: 1px;
                        padding-top: 3px;
                        padding-bottom: 5px;
                    }
                }
            }

            .weekday {
                $weekday-width: 99px;
                width: $weekday-width;
                height: $calendar-height - $calendar-header-height;
                border-right: 1px solid $dark-border-color;
                border-bottom: 1px solid gainsboro;
                float: left;
                overflow-y: scroll;
                background: white;

                .weekday-name {
                    margin-top:2px;
                    margin-left: 6px;
                }

                .assignment-block {
                    $assignment-block-width: $weekday-width - 10px;
                    width: $assignment-block-width;
                    border-radius: 2px;
                    margin:auto;
                    margin-top: 5px;
                    border: 1px solid $dark-border-color;
                    max-height: 80px;
                    font-size: 12px;
                    cursor: pointer;
                    background: rgba(169, 115, 180, 0.5);

                    .assignment-block-header {
                        margin: 2px;
                        height: 20px;
                        width: $weekday-width - 18px;
                        background: #373737;
                        color: $white-color;
                        font-weight: 500;
                        font-size: 12px;
                        padding-left: 4px;
                    }

                    .assignment-block-text {
                        $horizontal-padding: 3px;
                        width: $assignment-block-width - (2 * $horizontal-padding);
                        padding: 0 $horizontal-padding;
                        padding-bottom: 3px;
                    }
                }

                .assignment-block:hover {
                    background: rgba(169, 115, 180, 0.6);
                }

            }

            .weekday.sunday {
                border-right: 1px solid gainsboro;
                width: 106px;
            }

            .weekday.monday {
                border-left: 1px solid gainsboro;
            }

            .current-weekday {
                background: #F1EBF2;
            }
        }

        .user-profile-container {
            margin-right: $box-padding;
            width: $user-profile-container-width;
            height: auto;

            img {
                float: left;
                height: 150px;
                display: inline-block;
                padding: 6px;
                border: 1px $generic-divider-color solid;
            }

            #user-info {
                float: left;
                margin-top: 10px;

                h1 {
                    font-size:24px;
                    margin-bottom: 5px;
                }
            }

        }
    }

    .fix-container {
        float: right;
        overflow: auto;
        height:100%;
        top:15px;
        //border: 1px red dashed;
    }

    $left-col-width: 300px;

    .left-col {
        height: 100%;
        float: right;
        width: $left-col-width;
        top: 15px;
        right: 0;

        .recent-essays {
            width: 258px;
            float: left;
            clear: both;
            background: white;
            border: 1px solid gainsboro;
            padding: 20px;

            .button-panel {
                float: right;
                overflow: auto;
                margin-top: 10px;

                i {
                    margin-right: 4px;
                }
            }

            .recent-essays-header {
                overflow: auto;
                margin-bottom: 15px;

                h2 {
                    float: left;
                    font-size: 14px;
                }
            }

            .no-documents {
                margin-top: 15px;
            }

            .see-all-recent-wrapper {
                float:right;

                i {
                    float: right;
                    margin-left: 4px;
                    position: relative;
                    top: 1px;
                    cursor: pointer;
                }

                .see-all-recent {
                    float: right;
                    display: block;
                    color: #888;
                    font-size: 11px;
                }
            }

            ul {
                clear: both;
                border-top: 1px solid $generic-divider-color;

                li {
                    padding: 0 0px 0px 0px;
                    border-bottom: 1px solid $generic-divider-color;

                    a {
                        color: #888;
                        color: $main-color-2;
                        font-weight: 500;
                        font-size: 14px;
                        display:block;
                        width: 100%;
                        overflow: auto;
                        padding-bottom: 7px;
                        padding-top: 7px;

                        .recent-doc {
                            float: left;
                            max-width: 188px;
                        }

                        .date {
                            float: right;
                            color: #888;
                        }
                    }

                    a:hover {
                        background: #f6f6f6;
                    }
                }
            }
        }
    }

    .right-col {
        float: left;
        width: 583px;
        margin-right: 15px;
        padding: $box-padding;
        background: white;
        border-radius: 2px;
        border: 1px gainsboro solid;

        h1 {
            float: left;
            padding: 0 8px 5px 0px;
            font-size: 14px;
            cursor: pointer;
            margin-bottom: 0px;

            i {
                margin-right: 3px;
            }
        }

        .tab-selected {
            border-bottom: 1px solid $main-color-2;
            color: $main-color-2;
            background: white;
        }

        .tab-unselected {
            border-bottom: 1px solid $generic-divider-color;
            color: #888;
        }

        $tab-fill-height: 31px;
        .tab-fill {
           width: 335px;
           height: $tab-fill-height;
           float: left;
           border-bottom: 1px solid $generic-divider-color;
        }

        .small-tab-fill {
            width: 15px;
            height: $tab-fill-height;
            float: left;
            border-bottom: 1px solid $generic-divider-color;
        }

        .assigned-reviews {
            width: 100%;
            float: left;
            display: none;

            .past-assignments {
                float: right;
            }
        }

        .notifications, .assignments {
            overflow: auto;
            clear: both;
            padding-top: 20px;

            .notification, .assignment {
                overflow: auto;
                padding-bottom:25px;
                margin-bottom: 25px;
                border-bottom: 1px dotted $generic-divider-color;

                .notification-thumbnail {
                    height: 40px;
                    width: 40px;
                    background: #ccc;
                    float: left;
                }

                .notification-content {
                    float: left;
                    width: 500px;
                    margin-left: 15px;

                    .author-date {
                        margin-bottom: 25px;
                        .notification-author {
                            float: left;
                            font-weight: 600;
                        }

                        .notification-date {
                            float: right;
                            font-weight: 500;
                            color: #888;
                            font-size: 11px;
                        }
                    }

                    .notification-text {
                        line-height: 18px;
                    }
                }
            }
        }
    }

    .button {
        display: inline-block;
        height: 24px;
        padding: 0 7px 0 7px;
        margin: 0 0 0 7px;
        font-size: 11px;
        font-weight: bold;
        line-height: 24px;
        color: #333;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.8);
        border: solid 1px #aaa;
        float: left;
        cursor: pointer;
        text-decoration: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        box-shadow: 0 1px 0 0 rgba(0,0,0,0.05),inset 0 1px 0 0 #fff;
        border-radius: 3px;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #fafafa, #ededed);
        background-image: -ms-linear-gradient(top, #fafafa, #ededed);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#ededed));
        background-image: -webkit-linear-gradient(top, #fafafa, #ededed);
        background-image: linear-gradient(top, #fafafa, #ededed);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#fffafafa',
        endColorstr='#ffededed', GradientType=0);
        -webkit-transition: all .05s linear;
        -moz-transition: all .05s linear;
        -ms-transition: all .05s linear;
        transition: all .05s linear;
    }
}
