/*
 * Defines CSS for editor content.
 */
.mod-bold {
  font-weight: bold;
}

.mod-underline {
  text-decoration: underline;
}

.mod-italic {
  font-style: italic;
}

.blk-mod-left-align {
  text-align: left;
}

.blk-mod-center-align {
  text-align: center;
}

.blk-mod-right-align {
  text-align: right;
}
