@import "../shared/_variables.scss";
@import "../shared/_mixins.scss";
@import "./editor_include/_right-panel.scss";
@import "./editor_include/_overlays.scss";
@import "./editor_include/_editor-variables.scss";

/* override navbar css */
.header-container {
    width: 100% !important;

    .nav-right {
        margin-right: 40px;
    }

    .nav-left {
        margin-left: 20px;
    }

    .options-dropdown {
        .caret {
            left: 49px !important;
        }
        .caret-shadow {
            left: 49px !important;
        }
    }
}

body {
    min-width: 1250px;
}

/* invisible panel that pushes the toolkit panel open */
.main-panel-push {
    width: 250px;
    float: left;
    height: 100%;
    opacity: 0;
    position: relative;
    z-index:10;
}

/* This is the panel that contains the toolkit */
.tools {
    height: 100%;
    overflow: auto;
    position: relative;

    .toolkit { // this is the left column of tools
        background: #373737;
        width: 250px;
        float: left;
        height: 100%;
        position: absolute;
        left:0;
        z-index: 20;

        .toolkit-left {
            height: 100%;
            width: 250px;
            float: left;
            overflow-y: auto;
        }

        #reviewer-tools {
            display: none;
        }

        .toolkit-region {
            border-bottom: 1px solid #404040;
            padding: 20px 0;
            overflow:auto;

            h2 {
                color: #999;
                font-weight: 500;
                margin-left: 20px;

                i {
                    margin-right: 10px;
                }
            }

            .editor-mode-button-container {
                width: 80px;
                overflow: auto;
                float: left;
                margin: 20px 0 0 0;

                .editor-mode-button {
                    overflow: auto;
                    width: 65px;
                    height: 60px;
                    margin: auto;
                    margin-bottom: 10px;
                    cursor: pointer;
                    padding: 0 5px;
                    color: #999;
                    text-align:center;

                    .icon-container {
                        display: inline-block;
                        height: 32px;
                        width: 30px;
                        overflow: auto;

                        i {
                            text-align:center;
                            font-size: 25px;
                            height: 30px;
                            width: 30px;
                            position: relative;
                            top: 2px;
                        }
                    }

                    .editor-mode-label {
                        text-align: center;
                    }
                }
            }

            .editor-mode-button-disabled {
                cursor: default !important;
                * {
                    color: #a75d5d;
                    cursor: default;
                }
            }

            .editor-mode-button-selectable:hover {
                * {
                    color: $white-color;
                }
            }

            .editor-mode-button-active {
                * {
                    color: $white-color;
                }

                .icon-container {
                    background:$white-color;
                    border-radius: 3px;
                    overflow: auto;
                }

                i {
                    color: #404040;
                }
            }

            .editor-mode-button-active:hover {
                * {
                    color: $white-color;
                }

                .icon-container  {
                    background: white;
                }

                i {
                    color: #404040;
                }
            }

            .editor-tool-container {
                margin-left: 20px;
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }

        .toolkit-region-light {
            background-color: #373737;
            color: $white-color;

            .fa-arrow-right {
                margin-left: 15px;
            }

            .fa-arrow-left {
                margin-right: 15px;
            }
        }

        .toolkit-region-dark {
            background-color: #1e1e1e;
            padding: 10px 0;
            border-top: 1px solid #404040;
            border-bottom: 1px solid black;
        }

        .toolkit-region-dark.doc-mod-container {
            padding-top: 20px;
        }

        .toolkit-region-dark.review-submit-container {
            display: none;

            .review-submit-button {
                margin: 15px 30px 10px 20px;
                cursor: pointer;
                text-align: center;
                background-color:gainsboro;
                text-indent:0;
                border:1px solid #575757;
                border-radius: 2px;
                color:#666;
                font-weight:bold;
                line-height:36px;
            }

            .review-submit-button:hover {
                border: 1px solid #39bd41;
                color: #39bd41;
                color: #40B347;
                background: #408347;
                color: $white-color;
            }
        }

        // request review button
        #review {
            cursor: pointer;
        }

        ul {
            * {
                font-size: 11pt;
            }

            li {
                padding: 10px 20px;
                cursor: pointer;
                color: $white-color;
                width: 210px;

                a {
                    color: $white-color;
                    cursor: pointer;
                    width: 100%;
                    display: block;
                    font-weight: 100;
                }

                i {
                    margin-right: 12px;
                    color: #999;
                }

                i.folder-button {
                    margin-right: 8px;
                }

                i.fa-archive, i.fa-envelope {
                    margin-right: 10px;
                }

                i.fa-print {
                    margin-right: 15px;
                }
            }

            li:hover {
                background-color: black;
            }
        }

        .timeline {
            padding-bottom: 0;
            padding-top: 0;
            border-top: 1px solid #444;
            border-bottom: 1px solid #111111;

            h2 {
                padding-bottom: 18px;
                padding-top: 20px;
                margin-left: 0;
                padding-left: 20px;

                cursor: pointer;

                .fa-caret-down {
                    margin-left: 5px;
                    margin-right: 30px;
                    float: right;
                }
            }

            ul {
                display: none;
                height: 230px;
                overflow: auto;
                -moz-box-shadow:    inset 0 0 10px #000000;
                -webkit-box-shadow: inset 0 0 10px #000000;
                box-shadow:         inset 0 0 10px #000000;
                background: #1e1e1e;

                li {
                    overflow: auto;
                    border-bottom:black 1px solid;
                    border-top: #444 1px solid;

                    a {
                        * {
                            color: #999;
                            color: #e5e5e5;
                            font-weight: 400;
                            font-size: 14px;
                        }

                        i.fa-check {
                            float: left;
                            opacity: 0;
                        }

                        i.fa-trash-o {
                            float: right;
                        }

                         draft-number {
                            float: left;
                        }

                        .draft-date {
                            float: right;
                            margin-right: 20px;
                        }
                    }
                }

                li:hover {
                    background-color: black;
                    border-top: black 1px solid;
                }

                li.active-draft {

                    * {
                        color: $white-color;
                        font-weight: 700;
                    }

                    i.fa-check {
                        opacity: 1;
                        color: #39bd41;
                    }

                }

                li:first-child {
                    i.fa-trash-o {
                      opacity: 0;
                    }
                }
            }
        }

        .timeline h2:hover {
            background: #3b3b3b;
        }

        .timeline-bottom-border {
            width: 100%;
            border-top: 1px solid #555;
        }
    }
}

/* This is the panel that contains the text editor */
.main-panel {
    z-index: 20;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    width: auto;
    background-color: whitesmoke;

    .readonly-stripe {
        display:none;
        height: 100%;
        height: 1000px;
        position: absolute;
        left: 20px;
        width: 20px;
        z-index: 101;

        .stripe-message {
            transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            margin: 50px 0 40px 0;
            color: $readonly-color-transparent;

            color:rgba(221, 123, 57, 0.64);
            font-weight: 700;
            width: 90px;
            position: relative;
            right: 27px;
            bottom: 11px;
        }

        .top-stripe, .bottom-stripe {
            border-right: 5px $readonly-color-transparent solid;
            height: 375px;
        }
    }

    .page-margin-top {
        width: 100%;
        height: 42px;
    }

    .page-container {
        position: relative;
        z-index: 100;
        background: whitesmoke;
        width: 100%;
        height: 100%;


        .page-wrapper {
            width: 100%;
            height: 100%;
            //margin-top: 42px;
            overflow: auto;
            position: relative;


            .page {
                background: white;
                width: 660px;
                height: auto;
                min-height: 1000px;
                border: 1px solid #d2d2d2;
                margin: 30px auto 60px auto;
                padding: 80px;
                outline: none;
                font-weight: 500;
                line-height: 18px;
                white-space: pre-wrap;
                overflow: hidden;
            }

        }

    }

    .buttons-container {
        display: table;
        margin: auto;
    }
}

.editor-background {
    background-color: white;
    height: 100%;

    #review-submit {
        text-align: right;
        margin-top: 20px;

        .btn {
            text-align: center;
        }
    }

    .center-container {
        @include calc(width, "#{$contentwidth}");
        margin: 0 auto;
        padding-top: 50px;
        position: relative;
        height: 100%;


        &.toolbar-padding {
            padding-top: 90px;
        }

        .notes {
            position: absolute;
            margin-top: 140px;
            top: 0;
            right: -6px;

            .note {
                width: 175px;
                background-color: #eeeeee;
                border-right: 5px solid $accent-alt;
                line-height: 16px;
                position: absolute;
                left: -5px;

                .comment {
                    width: 155px;
                    margin: 10px 10px 5px 10px;
                    white-space: pre-wrap;
                    white-space: -moz-pre-wrap;
                    white-space: -pre-wrap;
                    white-space: -o-pre-wrap;
                    word-wrap: break-word;
                    overflow: auto;

                    &:focus {
                        outline: none;
                    }
                }

                .comment[contentEditable="true"] {
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                }

                .comment[contentEditable="false"] {
                    height: 16px;
                    overflow: hidden;
                }

                button {
                    margin-left: 10px;
                }
            }
        }
    }

    .buttons-position-fixed {
		position: fixed;
		top: 0;
	}

	.buttons-position-absolute {
        position: absolute;
	}

    .toolbar {
        background: white;
        border-bottom: 1px solid $border;
        overflow: hidden;
        height: 41px;

        .small-tool-box {
            width: 40px;
            top: 72px;
            padding: 0 0px;
            background: white;
            border: 1px solid #d2d2d2;
            overflow: auto;
            position: absolute;

            button {
                color: #373737;
                border: 0;
                background: white;
                font-size: 17px;
                border-radius: 2px;
                cursor: pointer;
                outline: none;
                border: 1px rgba(0,0,0,0) solid;
                margin-right: 5px;
                width: 28px;
                height: 28px;
            }

            .button-depressed {
                border: 1px solid #d2d2d2;
                box-shadow: inset 0 0 2px rgba(0,0,0,.3);
            }

            button:hover {
                border: 1px solid #d2d2d2;
            }

            button:active {
                box-shadow: inset 0 0 2px rgba(0,0,0,.3);
            }
        }

        #editor-tools {
            left: 0;
        }

        .reviewer-tools {
            display: none;
            right: 0;
        }

        .toolbar-left {
            position: absolute;
            background: white;
            min-width: 215px;
            left: 0;
            float: left;

            button {
                width: 28px;
                height: 28px;
                border-radius: 2px;
            }

            .button-depressed {
                border: 1px solid #d2d2d2;
                box-shadow: inset 0 0 2px rgba(0,0,0,.3);
            }

            button:hover {
                border: 1px solid #d2d2d2;
            }

            button:active {
                box-shadow: inset 0 0 2px rgba(0,0,0,.3);
            }

            .btn-set {
                float: left;
            }
        }

        .toolbar-right {
            position: absolute;
            min-width: 263px;
            right: 0;
            background-color: white;

            .btn-set {
                float: right;
            }

            .nav-review-tools {
                width: 0px;
                float: right;
                overflow-x: hidden;
                overflow-y: auto;
                height: 41px;

                .strikethrough-container {
                    width: 50px;
                    padding: 0;
                }
            }
        }
    }

    .buttons {
        line-height: 40px;
        text-align: center;
        width: 100%;
        z-index: 102;
        background: rgba(0,0,0,0);
        position: absolute;
        left: 0;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: moz-none;
        -ms-user-select: none;
        user-select: none;

        .toolkit-open-button, .toolkit-comment-button {
            height: 41px;
            width: 41px;
            background: gray;

            i {
                height: 40px;
                width: 40px;
                color: white;
                cursor: pointer;
            }
        }

        .toolkit-open-button {
            float:left;
        }

        .toolkit-comment-button {
            float: right;
        }

        .right-border {
            border-right: 1px solid $border;
        }

        .left-border {
            border-left: 1px solid $border;
        }

        .btn-set {
            padding: 0 10px;
            height: 40px;
            display: block;

            &:first-child {
                border-left: 1px solid $border;
            }

            .btn-editor {
                margin: 0 3px;
            }

            .combine-icon {
                letter-spacing: -3px;
            }

            .button-border {
                border: 1px solid $border;
            }

            button {
                background-color: transparent;
                border: 1px rgba(0,0,0,0) solid;
                font-size: 14px;
                color: $text;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }
        }

        .essay-title {
            height: 30px;
            resize: none;
            border: none;
            text-align: center;
            margin-top: 5px;
            font-size: 18px;
            font-weight: 600;
            width: auto;
            min-width: 100px;
        }

        .essay-title:focus {
        }

        .line-height-dropdown {
            width: 55px;
            line-height: 24px;

            .border {
                border: 1px solid $border;
            }

            .line-height-btn {
                cursor: pointer;
                margin-top: 8px;
                width: 60px;
                height: 24px;
            }

            ul {
                position: absolute;
                width: 60px;
                display: none;
                background-color: white;
                border: 1px solid $border;
                cursor: pointer;

                li:hover {
                    background-color: $accent-light;
                }
            }
        }

        .zoom-dropdown {
            width: 60px;
            padding: 0 5px;
            line-height: 24px;

            .curr-zoom {
                margin-top: 8px;
                height: 24px;
                width: 60px;
                background-color: white;
                color: $text;
                font-weight: normal;
                border: 1px solid $border;
                cursor: pointer;
            }

            ul {
                position: absolute;
                cursor: pointer;
                top: 32px;
                display: none;
                background-color: white;
                border: 1px solid $border;
                width: 60px;

                li:hover  {
                    background-color: $accent-light;
                }
            }
        }

        .btn-set-status {
            width: 60px;
            .status-line {
                font-weight: 500;
                width: 100px;
                height: 40px;
            }
        }
    }
}
