/*
 * Defines CSS for editor content.
 */
.mod-bold {
  font-weight: bold;
}

.mod-underline {
  text-decoration: underline;
}

.mod-italic {
  font-style: italic;
}

.blk-mod-left-align {
  text-align: left;
}

.blk-mod-center-align {
  text-align: center;
}

.blk-mod-right-align {
  text-align: right;
}

.blk-mod-double-spaced {
  line-height: 2;
}

.blk-mod-half-spaced {
  line-height: 1.5;
}

.blk-mod-single-spaced {
  line-height: 1;
}
