@import "../shared/_form_default.scss";

.message {
    color: #b8211d;
    font-size: 14px;
}

.table-wrapper {
    padding: 40px;
    padding-bottom: 30px;
    width: 470px;

    table {
        margin-bottom: 0px;

        td {
            padding: 10px 10px 10px 0px;
        }
    }
}

