#
# Default configuration file.
#

# By default enable debug mode
DEBUG = True

# Database configuration
SQLALCHEMY_DATABASE_URI = 'postgres://peernote@localhost:5432/peernote'

# App secret used for session secrets
SECRET_KEY = ':4\x08\xab.\xb2\xb7X\xa7\x0e\xf9\x89Jp\x15f\xa9\xc8\x84\xd7l\xd8\xe1\xac(\xea\xbb\xd2\xd3\x95\x89\xd3\x05\xafzSG\n\xbf\xbe'

# AWS configuration. These are Jackson's AWS credentials. He will hurt you if
# you cost him money.
UPLOADS_S3_BUCKET = 'uploads.peernote.com'
AWS_ACCESS_KEY = 'AKIAIFGTL72V3V3QD6KQ'
AWS_SECRET_KEY = '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'

# Configure max upload size
MAX_CONTENT_LENGTH = 20971520 # (20 megabytes)

# Mandrill SMTP & API Credentials
MANDRILL_SMTP_HOST = 'smtp.mandrillapp.com'
MANDRILL_SMTP_PORT = 587
MANDRILL_API_LOCATION = 'https://mandrillapp.com/api/1.0/'
MANDRILL_USERNAME = 'jackson_owens@brown.edu'
MANDRILL_PASSWORD = 'rzr86FhKdG6oEqYhr3TGfA'

# Default email settings
DEFAULT_FROM = 'Peernote <bryaebi@gmail.com>'
