{% extends 'base/application_main.html' %}

{% block styles %}
    {{ super() }}
    {% assets "essays_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        var peernoteNS = peernoteNS || {};
        peernoteNS.essays = peernoteNS.essays || {};
        peernoteNS.essays.uid = {{ current_essay.uid }};
        peernoteNS.essays.did = {{ current_draft.did }};
    </script>

    <script src="/static/js/essays/editor.js"></script>
{% endblock %}

{% block content %}
<div class="editor-background">
    <div class="center-container">
        <div class="status-line"></div>
        <a id="review" class="btn btn-primary alt">Reviewify</a>
        {% include "shared/essays/essay_content.html" %}
    </div>
</div>

{% endblock %}
