{% extends 'base/application_main.html' %}

{% block styles %}
    {{ super() }}
    {% assets "essays_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        var peernoteNS = peernoteNS || {};
        peernoteNS.essays = peernoteNS.essays || {};
        peernoteNS.essays.uid = {{ current_essay.uid }};
        peernoteNS.essays.did = {{ current_draft.did }};

        peernoteNS.essays.drafts = [];
        {% for draft in current_essay.get_all_drafts() %}
            peernoteNS.essays.drafts.push({{draft.did}});
        {% endfor %}
    </script>

    {% assets "editor_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
<div id="send-review-shadow">
    <div class="send-review-center-align">
        <div class="send-review-pane">
            <i class="fa fa-times"></i>
            <h3>Send a review</h3>
            <div>Let your friend review your essay </div>
            <form>
                <input type="text" name="email" placeholder="Email Address" class="send-review-pane-email">
                <input type="submit" value="SEND REVIEW" class="send-review-pane-submit">

                <span class="email-confirmation-popup">Thank you! An email has been sent.</span>
            </form>
        </div>
    </div>
</div>

<div class="editor-background">
    <div class="center-container">
        <div class="toolbar">
            <a href="{{ url_for('essays.print_essay', essayid=current_essay.eid) }}" class="fa fa-print" target="_blank"></a>
        </div>
        <div class="status-line"></div>
        <div class="timeline">
            <a id="review" class="btn btn-primary alt">Reviewify</a>
            <h2>Essay Timeline</h2>
            <ul>
                {% for draft in current_essay.get_all_drafts() %}
                    <li><a> Draft {{ draft.version }} </a></li>
                {% endfor %}
            </ul>
        </div>
        {% include "shared/essays/essay_content.html" %}
    </div>
</div>

{% endblock %}
