{% extends 'base/application_editor.html' %}

{% block styles %}
    {{ super() }}
    {% assets "editor_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
      peernoteNS.init(function() {
        // Silly hack to check if reached page via backbutton. If so,
        // force a reload so new content is displayed instead of cached
        var $dirty = $('#dirtybit');
        if ($dirty.val() == '1') {
          window.location.reload();
        } else {
          $dirty.val('1');
        }
      });
    </script>

    {% assets "editor_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        peernoteNS.essays.uid = {{ current_essay.uid }};
        peernoteNS.essays.did = {{ current_draft.did }};
        peernoteNS.essays.drafts = [];
        {% for draft in current_essay.get_all_drafts() %}
            peernoteNS.essays.drafts.push({
                did: {{draft.did}},
                ts: "{{draft.pretty_modified_date()}}"
            });
        {% endfor %}

        {% if reviewhash %}
            peernoteNS.essays.review_only = true;
            peernoteNS.essays.reviewhash = "{{ reviewhash }}";
        {% endif %}
    </script>
{% endblock %}

{% block content %}

{# Popup Light Box for Review Request #}
<div class="send-review-pane">
    <h3>Request a review</h3>
    <div>Ask someone to review this draft of your essay. Subsequent changes won't be seen by your reviewer.</div>
    <form>
        <input type="text" name="email" placeholder="Email Address" class="send-review-pane-email">
        <input type="submit" value="Submit" class="send-review-pane-submit">

        <span class="email-confirmation-popup">Thank you! An email has been sent.</span>
    </form>
</div>

{# Popup Light Box for Open dialogue #}
<div class="essays-list-container">
    <h1> Your Essays </h1>
    <div class="essays-selector"></div>
</div>

<div class="editor-background">
    <div class="tools">
        {# Left toolkit #}
        <div class="toolkit">
            <div class="toolkit-left">
                <div class="toolkit-region toolkit-region-dark doc-mod-container">
                    <h2>Document Mode</h2>
                    <div class="editor-mode-button-container">
                        <div id="edit-mode-button"
                            class="editor-mode-button editor-mode-button-active"
                            title="Switch to edit mode">
                            <div class="icon-container">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="editor-mode-label">Editor</div>
                        </div>
                    </div>
                    <div class="editor-mode-button-container">
                        <div id="review-mode-button"
                            class="editor-mode-button editor-mode-button-selectable"
                            title="Switch to review mode">
                            <div class="icon-container">
                                <i class="fa fa-inbox"></i>
                            </div>
                            <div class="editor-mode-label">Reviewer</div>
                        </div>
                    </div>
                    <div class="editor-mode-button-container">
                        <div id="readonly-mode-button"
                            class="editor-mode-button editor-mode-button-disabled"
                            title="Read only mode">
                            <div class="icon-container">
                                <i class="fa fa-lock"></i>
                            </div>
                            <div class="editor-mode-label">Read Only</div>
                        </div>
                    </div>
                </div>
                <div class="toolkit-region toolkit-region-dark review-submit-container">
                    <h2> Finish and Submit Review</h2>
                    <div class="review-submit-button">
                        Submit
                    </div>
                </div>
                <div class="toolkit-region toolkit-region-dark" id="doc-manager">
                    <ul>
                        <li class="new" title="Create new document">
                        <a href="{{ url_for('essays.create_essay') }}" target="_blank" >
                            <i class="fa fa-plus"></i>
                            New Document
                        </a>
                        </li>
                        <li class="open" title="Open document">
                        <i class="fa fa-folder-open folder-button"></i> Open
                        </li>
                        <li class="next-draft" title="Save copy of current draft">
                        <i class="fa fa-archive"></i> Next Draft
                        </li>
                        <li id="review-request" title="Request review via email">
                        <i class="fa fa-envelope"></i> Request Review
                        </li>
                        <li class="print" title="Print document">
                        <a href="{{ url_for('essays.print_essay', essayid=current_essay.eid) }}" target="_blank">
                            <i class="fa fa-print"></i>Print
                        </a>
                        </li>
                    </ul>
                </div>
                <div class="toolkit-region toolkit-region-light timeline">
                    <h2>
                        <i class="fa fa-clock-o"></i>Draft History
                        <i class="fa fa-caret-down"></i>
                    </h2>
                    <ul class="drafts-list">
                        {% for draft in current_essay.get_all_drafts() %}
                        <li>
                        <a>
                            <i class="fa fa-check"></i>
                            <span class="draft-number">
                                Draft {{ draft.version }}
                             </span>

                            <i class="fa fa-trash-o"></i>
                             <span class="draft-date">
                                {{draft.pretty_modified_date()}}
                            </span>
                        </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="timeline-bottom-border"></div>
            </div>
        </div>
        <div class="main-panel-push"> </div>{# expand this to push the main panel right #}
        <div class="comment-panel-push"></div>
        <div class="comment-panel">
            <div class=" comments-panel-tab comment-tab-line-comments tab-container-selected">
                <div class="tab-top tab-top-comments tab-selected">Comments</div>


                {# This is the html for the "comments index" view of the comments pane #}
                <div class="tab-content all-comments-pane">
                    <div class="comments-buttons">
                        <div class="comments-nav">
                            <div class="comments-title comments-index-title">All Comments</div>
                        </div>
                        <div class="comments-button new-comment">New</div>
                    </div>
                    <div class="comments-index">
                        <ul>
                            <li>
                                <div class="comment-clickable">
                                    <h3>This is the highlighted text</h3>
                                    <div class="comment-count comments-button">2</div>
                                </div>
                                <div class="comment-details">
                                    <img class="comment-poster-img">
                                    <div class="comment-poster-name">Bryce Aebi | Updated 7 hours ago</div>
                                </div>
                            </li>
                            <li>
                                <div class="comment-clickable">
                                    <h3>This is the highlighted text</h3>
                                    <div class="comment-count comments-button">2</div>
                                </div>
                                <div class="comment-details">
                                    <img class="comment-poster-img">
                                    <div class="comment-poster-name">Bryce Aebi | Updated 8 hours ago</div>
                                </div>
                            </li>
                            <li>
                                <div class="comment-clickable">
                                    <h3>This is the highlighted text</h3>
                                    <div class="comment-count comments-button">2</div>
                                </div>
                                <div class="comment-details">
                                    <img class="comment-poster-img">
                                    <div class="comment-poster-name">Bryce Aebi | Updated 3 days ago</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                {# This is the HTML for the "new comment" view of the comments pane #}
                <div class="tab-content new-comment-pane">
                    <div class="comments-buttons">
                        <div class="comments-nav">
                            <div class="comments-title comments-new-title">New Comment</div>
                        </div>
                    </div>
                    <div class="comment-post">
                        <div class="new-highlight-wrapper">
                            <h3>This is the highlighted text you selected</h3>
                        </div>
                        <textarea class="comment-textarea" rows="7" cols="30" placeholder="Write a comment..."></textarea>
                        <div class="comment-submit" >Comment</div>
                        <div class="cancel-comment">Cancel</div>
                    </div>
                </div>

                {# This is the HTML for the "view thread" view of a comment #}
                <div class="tab-content comment-thread-pane">
                    <div class="comments-buttons">
                        <div class="comments-nav">
                            <div class="comments-button all-comments-button">See All</div>
                            <div class="comments-button">
                                <i class="fa fa-caret-left"></i>
                                Prev
                            </div>
                            <div class="comments-button">
                                Next
                                <i class="fa fa-caret-right caret-right"></i>
                            </div>
                        </div>
                        <div class="comments-button new-comment">New</div>
                    </div>
                    <div class="comment-thread">
                        <div class="comment-thread-highlight-wrapper">
                            <h3>This is the highlighted text for this comment thread</h3>
                        </div>
                        <ul>
                            <li class="thread-comment">
                                <div class="thread-thumbnail"></div>
                                <div class="thread-comment-content">
                                    <div class="thread-comment-header">
                                        <div class="thread-comment-author">
                                            Bryce A.
                                        </div>
                                        <div class="thread-comment-date">Just now</div>
                                    </div>
                                    <div class="thread-comment-text">
                                        This is the contents of a comment.
                                    </div>
                                </div>
                            </li>
                            <li class="thread-comment">
                                <div class="thread-thumbnail"></div>
                                <div class="thread-comment-content">
                                    <div class="thread-comment-header">
                                        <div class="thread-comment-author">
                                            Bryce A.
                                        </div>
                                        <div class="thread-comment-date">5 minutes ago</div>
                                    </div>
                                    <div class="thread-comment-text">
                                        Here is another comment. Lets make this comment longer by writing this sentence that you are reading right now.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="comment-post-v2-closed">
                        <div class="thread-buttons">
                            <div class="delete-thread-button">Delete Thread</div>
                            <div class="reply-thread-button thread-button">Reply</div>
                        </div>
                    </div>
                    <div class="comment-post-v2-open">
                            <textarea class="comment-textarea" rows="5" cols="20" placeholder="Comment"></textarea>
                        <div class="thread-buttons-v2">
                            <div class="reply-thread-button-v2 thread-button">Post</div>
                            <div class="cancel-thread-button-v2">Cancel</div>
                        </div>
                    </div>
                </div>
            </div>
            {# Review Submit Tab #}
            {#<div class="comments-panel-tab comment-tab-notes">
                <div class="tab-top tab-top-submit tab-unselected">Submit Review</div>
                <div class="tab-content tab-notes">
                    <div class="tab-explanation"></div>
                </div>
            </div>#}
        </div>
        <div class="main-panel">
            {# Top tool bar #}
            <div class="buttons buttons-position-absolute">
                <div class="toolbar">
                    <div class="small-tool-box" id="editor-tools">
                        <button class="btn-editor bold" title="Bold">
                            <i class="fa fa-bold"></i>
                        </button>
                        <button class="btn-editor italic"  title="Italicize">
                            <i class="fa fa-italic"></i>
                        </button>
                        <button class="btn-editor underline" title="Underline">
                            <i class="fa fa-underline"></i>
                        </button>
                        <button class="btn-editor left-align" title="Left Align">
                            <i class="fa fa-align-left"></i>
                        </button>
                        <button class="btn-editor center-align" title="Center Align">
                            <i class="fa fa-align-center"></i>
                        </button>
                        <button class="btn-editor right-align" title="Right Align">
                            <i class="fa fa-align-right"></i>
                        </button>
                    </div>
                    <div class="toolbar-left">
                        <div class="toolkit-open-button" title="Show/hide tool panel">
                            <i class="fa fa-bars"></i>
                        </div>
                        <div class="btn-set btn-set-status right-border" title="Save status">
                            <i class="status-line btn-editor">Saved</i>
                        </div>
                        <div class="btn-set right-border">
                            <button class="btn-editor" data-tag="undo" id="undo" title="Undo">
                                <i class="fa fa-reply"></i>
                            </button>
                            <button class="btn-editor" data-tag="redo" id="redo" title="Redo">
                                <i class="fa fa-share"></i>
                            </button>
                        </div>
                    </div>
                    <div class="toolbar-right">
                        <div class="nav-review-tools">
                            <div class="toolkit-comment-button">
                                <i class="fa fa-comment"></i>
                            </div>
                            <div class="btn-set left-border strikethrough-container">
                                <button class="btn-editor strikethrough" title="Strikethrough">
                                    <i class="fa fa-strikethrough"></i>
                                </button>
                            </div>
                        </div>
                        <div class="btn-set left-border" title="Zoom">
                            <div class="zoom-dropdown zoom-click">
                                <div class="curr-zoom zoom-click" data-tag="zoom">
                                    100%
                                    <i class="fa fa-caret-down zoom-click"></i>
                                </div>
                                <ul class="zoom zoom-click" style="display: none;">
                                    <li class="zoom-size zoom-click" scale="0.5">50%</li>
                                    <li class="zoom-size zoom-click" scale="0.75">75%</li>
                                    <li class="zoom-size zoom-click" scale="1">100%</li>
                                    <li class="zoom-size zoom-click" scale="1.25">125%</li>
                                    {#<li class="zoom-size zoom-click" scale="1.5">150%</li>#}
                                </ul>
                              </div>
                        </div>
                        <div class="btn-set left-border">
                            <div class="line-height-dropdown line-height-click" title="Line spacing">
                                <div class="line-height-btn line-height-click" data-tag="line-height">
                                    <i class="fa fa-align-justify combine-icon line-height-click"></i>
                                    <i class="fa fa-arrows-v line-height-click"></i>
                                    <i class="fa fa-caret-down line-height-click"></i>
                                </div>
                                <ul class="spacing line-height-click" style="display: none;">
                                    <li class="line-height line-height-click" scale="1">Single</li>
                                    <li class="line-height line-height-click" scale="1.5">1.5</li>
                                    <li class="line-height line-height-click" scale="2">Double</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="btn-set essay-title-container">
                        <input placeholder="Untitled" class="essay-title"></input>
                    </div>
                </div>
            </div>
            <div class="page-margin-top"></div>
            <div class="readonly-stripe">
                <div class="top-stripe"></div>
                <div class="stripe-message">READ ONLY</div>
                <div class="bottom-stripe"></div>
            </div>
            <div class="page-container">
                <div class="page-wrapper">
                    <div class="page content" contenteditable="true" spellcheck="false">
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>

{# for checking of reached page from back button #}
<form name="ignore_me">
    <input type="hidden" id="dirtybit" name="dirtybit" value="0" />
</form>

{% endblock %}
