{% extends 'base/application_main.html' %}

{% block styles %}
    {{ super() }}
    {% assets "uploads_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block content %}
<div class="page-container forms-wrapper top-margin bottom-margin">
    <div class="table-wrapper">
        <h1>Upload a Document</h1>
        {% include "shared/flashes.html" %}
        <table>
            <form method="post" enctype="multipart/form-data">
                {% include "shared/csrf.html" %}
                <tr class="field">
                    <td>
                        <label for="upload_title">Document Title</label>
                    </td>
                    <td>
                        <input type="text" name="title" class="textfield"
                            id="upload_title" value="Untitled" />
                    </td>
                </tr>
                <tr class="field">
                    <td>
                        <label for="upload_file"></label>
                    </td>
                    <td>
                        <input type="file" name="paper" id="upload_file" />
                    </td>
                    <p class="accepted_extensions">
                    Accepted formats: {{ accepted_extensions }}
                    </p>
                </tr>
                <tr>
                    <td>
                        <input class="button-field" type="submit" value="Upload" />
                    </td>
                </tr>
            </form>
        </table>
    </div>
</div>
{% endblock %}
