
/******* This moved over from bootstrap shit *****/
@mixin calc($property, $expression) {
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}
$border: #d2d2d2;
$contentwidth: 760px;
$accent-alt: #a6538d;
$accent-light: #7ca6b1;
$theme-color: #a973b4;
$theme-color-hover: #b45b99;
$text: #373737;
/******************* TODO:  Kill it ************** /

/* VARIABLES */
$readonly-color-transparent: rgba(221, 123, 57, 0.64);
$readonly-color: rgba(221, 123, 57, 1);
