
// IMPORTANT: this file is imported in editor.scss

@import "./editor-variables.scss";

/***********************************/
/*         EMAIL OVERLAY           */
/***********************************/

.send-review-pane {
    @include border-radius;
    width: 400px;
    height: 200px;
    margin: auto;
    background: white;
    padding: 20px 30px;

    * {
        font-size: $small-explanation;
        line-height: 24px;
    }

    i {
        float: right;
        position: relative;
        bottom: 40px;
        left: 40px;
    }

    i:hover {
        color: #888;
        cursor: pointer;
    }

    h3 {
        font-size: $large-font-2;
        margin-bottom: 20px;
    }

    .send-review-pane-submit {
        @include border-radius;
        background-color: $theme-color;
        width: 100px;
        height: 30px;
        cursor: pointer;
        border: 0px;
        color: $white-color;
        font-size: $button-font-size;
        margin-top: 10px;
        margin-left: 10px;
    }

    .send-review-pane-submit:hover {
        background-color: $theme-color-hover;
    }

    .send-review-pane-email {
        @include border-radius;
        height: 30px;
        border: 1px #ddd solid;
        padding-left: 5px;
        width: 250px;
        font-size: $button-font-size;
    }

    form {
        overflow: auto;
        width: 400px;
        margin-top:50px;
        height: 100px;
    }

    .email-confirmation-popup {
        color: green;
        position:relative;
        top:10px;
        margin-top: 30px;
        display: none;
    }
}


/***********************************/
/*         Open Essay Dialogue     */
/***********************************/

.essays-list-shadow {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.85);;
    z-index: 104;
    display: none;

    .essays-list-center-align {
        display: table-cell;
        vertical-align: middle;
        height: 800px;

        /*.essays-list-container {
            width: 700px;
            padding: 50px;
            background-color: white;
            margin: auto;
            border-radius: 2px;

            .essays-selector {
                overflow: scroll;
            } */

            //.essays-table {
            //    tbody {
            //        display: block;
            //        height: 300px;
            //        overflow: auto;
            //        width: 100%;
            //    }   

            //    thead > tr {
            //        display: block;
            //    }

            //    th {
            //        display:block;
            //        float:left;
            //    }

            //    .essay-name, .essay-created, .essay-modified {
            //        width: 200px;
            //   }

             //   .draft-number {
             //       width: 50px;
             //   }

             //   td {
             //       display:block;
             //       float:left;
             //   }

             //   tr {
             //       display: block;
              //      width: 100%;
            //    }

          //  } 
       // }
    }
}
