{% extends 'email/email_base.html' %}
{% block content %}
<p style="color:#474747;">Hello,</p>
<p style="color:#474747;">Welcome to Peernote! You are receiving this email because you signed up for our beta. We expect our student beta to open late March and will notify you at that time. In the meantime, <a href="http://twitter.com/peernote" style="text-decoration:none; color:#a973b4;">follow us</a> on Twitter for the latest updates.</p>
<p style="color:#474747;"> Thanks a bunch!</p>
<p style="color:#474747;">- The Peernote Team</p>
{% endblock %}
