{% extends 'email/email_base.html' %}

{% block content %}
    <p style="color:#474747;">Hi {{ user_to_recover.first_name }},</p>
    <p style="color:#474747;">
        Someone has requested a password reset for your Peernote account. To reset your password, click the following link. If you did not request a password reset, please ignore this email.
    </p>
    <p style="color:#474747;"> Thanks a bunch!</p>
    {# TODO: Make the url variable according to url_for AND by server hostname. #}
    <p style="color:#474747;">
        <a style="color:#474747;" href="http://{{ server_host }}/forgot-password/{{ token.token }}">http://{{ server_host }}/forgot-password/{{ token.token }}</a>
    </p>
{% endblock %}
