{% extends 'email/email_base.html' %}
{% block content %}
    <h1>Peernote Password Reset</h1>
    <p>Hi {{ user_to_recover.username }},</p>
    <p>Someone has requested a password reset for your Peernote account. To reset your password, click the following link. If you did not request a password reset, just ignore this email.</p>
    {# TODO: Make the url variable according to url_for AND by server hostname. #}
    <div><a href="http://{{ server_host }}/forgot-password/{{ token.token }}">http://{{ server_host }}/forgot-password/{{ token.token }}</a></div>
{% endblock %}
