<!doctype html>
<html>
    <head>
        <title>Peernote</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico" />

        <!-- Actually download font-awesome later -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        {% block styles %}
            {% assets "base_css" %}
                <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
            {% endassets %}
        {% endblock %}

        {% block scripts %}
            <script src="/static/js/include/jquery-2.1.0.min.js"></script>
            <script src="/static/js/navbar.js"></script>
        {% endblock %}

    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>
