<!doctype html>
<html>
    <head>
        <title>Peernote</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico" />

        <!-- Actually download font-awesome later -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        {% block styles %}
            {% assets "base_css" %}
                <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
            {% endassets %}
        {% endblock %}

        {% block scripts %}
            {# I love templated javascript. :D #}
            <script type="text/javascript">var peernoteNS = peernoteNS || {};peernoteNS.csrf = '{{ csrf_token }}';</script>
            {% assets "base_js" %}
                <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            {% endassets %}
        {% endblock %}

    </head>
    <body>
        {% block main %}{% endblock %}
    </body>
</html>
