{% extends 'base/application.html' %}

{% block main %}
{% include "shared/signed_in_nav.html" %}
    <div class="wrapper">
        <div class="nav-section">
            <div class="page-width">
                <h1>{% block page_title %}{{ page_title }}{% endblock %}</h1>
                {% if nav_extra=="dashboard" %}
                    <div class="new-doc-button"><i class="fa fa-plus"></i>New Document</div>
                {% endif %}
            </div>
        </div>
        {% block content %} {% endblock %}
        <div class="push"></div> <!-- this makes the footer stay at the bottom -->
    </div>
    <div class="footer"> 
        Copywrite &copy; 2014 Peernote. All Rights Reserved. 
    </div>
{% endblock %}
