<!doctype html>
<html>
    <head>
        <title>Peernote</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Pacifico" />

        <!-- Actually download font-awesome later -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        {% assets "base_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
        {% endassets %}
        {% block head_content %}{% endblock %}

    </head>
    <body>
        {% include "shared/signed_in_nav.html" %}
        {% block content %}{% endblock %}
    </body>
</html>
