{% extends 'base/application_main.html' %}

{% block title %}
    Create Course
{% endblock %}

{% block styles %}
    {{ super() }}
    {% assets "courses-create_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "courses-create_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}

<div class="page-container top-margin bottom-margin">
    <div class="forms-wrapper">
        <input type="text" placeholder="School" name="school-name">
        <input type="text" placeholder="Course Name" name="course_name">
        <textarea placeholder="One sentence course description"></textarea>
        <input type="radio" name="require-instructor-approval" value="require-approval" checked>
        <input type="radio" name="require-instructor-approval" value="no-approval">
        <input type="submit" value="Create Course">
    </div>
</div>
{% endblock %}
