{% extends 'base/application_main.html' %}

{% block title %}
    Temp Course Dashboard
{% endblock %}

{% block styles %}
    {{ super() }}
    {% assets "courses-dashboard_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "courses-dashboard_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
    <div class="navigator">
        <div class="dark-square"></div>
    </div>
    <div class="content-body"></div>
{% endblock %}
