{% extends 'base/application_main.html' %}

{% block title %}
    Temp Course Dashboard
{% endblock %}

{% block styles %}
    {{ super() }}
    {% assets "courses-dashboard_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
    {% endassets %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% assets "courses-dashboard_js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}

{% block content %}
<div class="course-header">
    <div class="centered-course-header">
        <h1>US History</h1>
        <ul>
            <li class="tab-selected tab" for=".dashboard-tab">
                <div class="tab-highlight"></div>
                <div class="tab-name">
                    <i class="fa fa-bookmark-o"></i>
                    Dashboard {# week calendar, announcements, assignments #}
                </div>
            </li>
            {#<li class="tab-unselected">
                <div class="tab-highlight"></div>
                <div class="tab-name">
                    <i class="fa fa-calendar"></i>
                    Calendar
                </div>
                </li>#}
            <li class="tab-unselected tab" for=".file-tab">
                <div class="tab-highlight"></div>
                <div class="tab-name">
                    <i class="fa fa-file-o"></i>
                    Files
                </div>
            </li>
            <li class="tab-unselected tab" for=".syllabus-tab">
                <div class="tab-highlight"></div>
                <div class="tab-name">
                    <i class="fa fa-info-circle"></i>
                    Syllabus
                </div>
            </li>
            <li class="tab-unselected tab" for=".student-roster-tab">
                <div class="tab-highlight"></div>
                <div class="tab-name">
                    <i class="fa fa-group"></i>
                    Student Roster
                </div>
            </li>
            {# <li class="tab-unselected">Gradebook</li> (for instructor only) #}SC
        </ul>
    </div>
</div>
<div class="content-wrapper">
    <div class="content-body">
        <div class="file-tab">
            <div class="file-tab-left">
                <ul class="file-list">
                    <li class="file">File 1</li>
                    <li class="file">Week 2 Reading</li>
                    <li class="file">This is  a File</li>
                    <li class="file">Where my hat is at?</li>
                </ul>
                <div class="file-usage">Storage Used: 0 MB of 1000 MB</div>
            </div>
            <div class="file-preview">
                <div class="file-preview-header">
                    Document Preview
                    <i class="fa fa-download"></i>
                </div>
                <div class="file-preview-viewport">
                    <div class="no-pdf-display">
                        <div class="file-preview-viewport">Preview</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="student-roster-tab">
        </div>
        <div class="dashboard-tab">
            <div class="announcements">
                <h3>Announcements</h3>
                <ul>
                    <li>
                        <i class="fa fa-angle-double-right"></i>
                        <div class="announcement-text">
                            Remember to bring your textbooks on Wednesday!
                        </div>
                    </li>
                </ul>
            </div>
            <div class="week-calendar">
                <div class="calendar-header">
                    <i class="fa fa-arrows-alt expand-calendar"></i>
                    <div class="calendar-controls">
                        <div class="previous-week-button calendar-button"
                            title="See previous week">
                            <i class="fa fa-caret-left"></i>
                        </div>
                        <div class="current-date-button calendar-button"
                            title="See current week">
                            Today
                        </div>
                        <div class="next-week-button calendar-button"
                            title="See next week">
                            <i class="fa fa-caret-right"></i>
                        </div>
                    </div>
                    <h2>Week of July 9th</h2>
                </div>
                <ul class="weekdays">
                    <li class="weekday monday">
                        <div class="weekday-name">
                            <span class="wd-date">9</span>
                            <span class="wd-day">Mon</span>
                        </div>
                        <div class="assignment-block">
                            <div class="assignment-block-header">English</div>
                            <div class="assignment-block-text">
                                Assignment due today.
                            </div>
                        </div>
                    </li>
                    <li class="weekday tuesday">
                        <div class="weekday-name">
                            <span class="wd-date">10</span>
                            <span class="wd-day">Tue</span>
                        </div>
                    </li>
                    <li class="weekday wednesday">
                        <div class="weekday-name">
                            <span class="wd-date">11</span>
                            <span class="wd-day">Wed</span>
                        </div>
                    </li>
                    <li class="weekday thursday">
                        <div class="weekday-name">
                            <span class="wd-date">12</span>
                            <span class="wd-day">Thu</span>
                        </div>
                    </li>
                    <li class="weekday friday">
                        <div class="weekday-name">
                            <span class="wd-date">13</span>
                            <span class="wd-day">Fri</span>
                        </div>
                        <div class="assignment-block">
                            <div class="assignment-block-header">English</div>
                            <div class="assignment-block-text">
                                Test today.
                            </div>
                        </div>
                        <div class="assignment-block">
                            <div class="assignment-block-header">English</div>
                            <div class="assignment-block-text">
                                Assignment due today.
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="gradebook-tab">
            <div class="gradebook-table">
                <div class="gradebook-table-header">
                    <div class="gradebook-table-cell header-cell">
                        Student
                    </div>
                    <div class="gradebook-table-cell header-cell">
                        HW #1
                    </div>
                    <div class="gradebook-table-cell header-cell">
                        HW #2
                    </div>
                    <div class="gradebook-table-cell header-cell">
                        HW #3
                    </div>
                    <div class="gradebook-table-cell header-cell">
                        HW #4
                    </div>
                    <div class="gradebook-table-cell header-cell">
                        Total
                    </div>
                </div>
                <div class="gradebook-table-row">
                    <div class="gradebook-table-cell">Bryce Aebi</div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                </div>
                <div class="gradebook-table-row">
                    <div class="gradebook-table-cell">Jackson Owens</div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                </div>
                <div class="gradebook-table-row">
                    <div class="gradebook-table-cell">Alec Lee</div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                </div>
                <div class="gradebook-table-row">
                    <div class="gradebook-table-cell">Jefferson Chen</div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                    <div class="gradebook-table-cell"></div>
                </div>
                <div class="gradebook-table-row"></div>
                <div class="gradebook-table-row"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
