@import "../shared/_variables.scss";

$default-border: gainsboro 1px solid;
$height-unit: 20px;
$width-unit: 20px;
$padding: 20px;

nav {
    padding-left: $width-unit;
    padding-right: $width-unit;

    .header-container {
        width: 100%;
    }
}

.nav-section {
    position: fixed;
    opacity:0;
}

.footer-push {
    background: whitesmoke;

    .wrapper {
        height: 100%;
        padding-right: 200px;

        $navigator-width: 200px;
        .navigator {
            float: left;
            height: 100%;
            width: $navigator-width;
            border-right: $default-border;
            background: #eee;

            .dark-square {
                width: $navigator-width - $padding;
                overflow: auto;
                background: #666;
                padding-left: $padding;
                padding-top: $padding;
                padding-bottom: $padding;

                h1 {
                    color: whitesmoke;
                    line-height: $height-unit;
                    margin-bottom: $height-unit;
                }

                .instructor-image {
                    background: #aaa;
                    height: 1.5 * $height-unit;
                    width: 1.5 * $height-unit;
                    float: left;
                }

                .instructor-name-container {
                    overflow: auto;
                    float: left;
                    margin-left: $width-unit/2;

                    * {
                        color: #ccc;
                    }
                }
            }

            .navigator-tab-links {
                li {
                    border-bottom: $default-border;
                    cursor: pointer;
                    height: 3 * $height-unit;

                    &.tab-selected {
                        background: white;

                        .tab-highlight {
                            height: 100%;
                            width: 6px;
                            background: $main-color-2;
                            opacity: .8;
                            float: right;
                        }
                    }

                    &.tab-unselected:hover {
                        background: #e5e5e5;
                    }

                    .tab-name {
                        line-height: $height-unit;
                        padding: $padding;

                        i {
                            margin-right: 4px;
                            color: #777;
                            display: none;
                        }
                    }
                }
            }
        }

        .content-body {
            height: 80%;
            border-right: $default-border;
            border-bottom: $default-border;
            padding: $padding;
            background: white;
            min-width: $page-width - $navigator-width;
            width: 1000px;
            float: left;







        }
    }
}
