@import "bootstrap.scss";
@import "shared/_variables.scss";
@import "shared/_mixins.scss";

body, html {
    height: 100%;
    min-width: 800px;
}

nav {
    position: fixed;
    width: 100%;
    z-index:101;
}

/* Bryce says: what the fuck is this? */
ul.essay-container {
    display: block;
    float: right;
    border-left: 1px solid $border;
    padding: 0 30px;
    width: 540px;

    li.essay {
        padding: 20px 0;
        border-bottom: 1px solid $border;
        height: 110px;

        .doc-preview {
            display: block;
            float: left;
            margin-right: 10px;
            width: 85px;
            height: 110px;
            border: 1px solid $border;
        }

        .close-btn {
            float: right;
            font-size: 10px;
            color: $border;
            width: 16px;
            height: 16px;
            text-align: center;
            border: 1px solid $border;

        }

        .close-btn:hover {
            color: $dark;
            border: 1px solid $dark;
        }
    }
}


/* override navbar css */
.header-container {
    width: 100% !important;
    
    .nav-right {
        margin-right: 40px;
    }

    .nav-left {
        margin-left: 30px;
    }
}


/* This is normally so footer sticks to bottom. but 
 I need this div to be 100% hegiht so its children
 can be 100% height */
.wrapper {
    height: 100% !important;
}

/* invisible panel that pushes the toolkit panel open */
.main-panel-push {
    width: 250px;
    float: left;
    height: 100%;
    opacity: 0;
    position: relative;
    z-index:10;
}

/* invisible panel that pushes the comments panel open */
.comment-panel-push {
    width: 0px;
    float: right;
    height: 100%;
    position: relative;
    z-index: 10;
}

.comment-panel {
    width: 250px;
    background: #373737;
    width: 350px;
    float: right;
    height: 100%;
    position: fixed;
    z-index: 19; //2000; <-- changed this value for testing
    right:0;
    
    .tab-container-selected {
        z-index: 100;
    }   

    .comments-panel-tab {
        height: 100%;
        position: absolute;
        width: 350px;
        left: 0px;
        top: 50px;

        .tab-content, .tab-top {
            float: left;
            clear: both;
            position: relative;
            top: -50px;
        }

        $tab-width: 100px;

        .tab-top {
            width: $tab-width;
            height: 35px;
            padding-top: 10px;
            text-align: center;
            cursor: pointer;
        }

        .tab-selected {
            background-color: white;
            color: black;
            border-top: 3px solid $white-color;
            border-right: 3px solid $white-color;
            border-left: 3px solid $white-color;
            z-index: 1;
        }

        .tab-unselected {
            border-top: 3px solid #373737;
            border-right: 3px solid #373737;
            border-left: 3px solid #373737;
            background-color: #373737;
            color: $white-color;
            z-index: 0;
        }

        .tab-top-notes {
            position: relative;
            left: $tab-width + 10px;
        }

        .tab-content {
            background: white;
            height: 900px;
            width: 350px;
            border-left: 3px solid $white-color;

            @mixin comments-button {
                .comments-button {
                    float: left;
                    background-color: $white-color;
                    color: #373737;
                    border-radius: 3px;
                    padding: 6px 11px;
                    margin-left: 5px;
                    cursor: pointer;

                    i {
                        height: 10px;
                        width: 10px;
                    }

                    .caret-right {
                        padding-left:5px;
                        width: 7px;
                    }
                }

                .comments-button:hover {
                    background: gray;
                    color: $white-color;
                }
            }

            // location of comment-box after first post
            .comment-post-v2-closed {
                position: absolute;
                bottom: 0px;
                width: 100%;
                background-color: #373737;
                height: 80px;
                display: none;
            }

            .comment-post-v2-open {
                position: absolute;
                bottom: 0px;
                width: 100%;
                background-color: #373737;
                height: 100px;
                display: none;
            }

            .comment-thread {
                display: none;
                width: 322px;
                margin:auto;
                padding-top: 30px;

            }

            h3 {
                font-weight: 600;
                font-style: italic;
                font-size: 14px;
                background-color: #ffee74;
                float:left;
                line-height: 24px;
                cursor: pointer;
            }

            // list of opened comments
            .comments-index {
                display: none;
                overflow: auto;
                width:322px;
                margin: auto;
                padding-top: 30px;
                @include comments-button;

                .comments-button {
                    padding: 4px 9px;
                }

                li {
                    overflow: auto;
                    padding-bottom: 18px;
                    border-bottom: 1px solid $generic-divider-color;

                    .comment-clickable {
                        overflow: auto;
                        margin-bottom: 10px;


                        .comment-count {
                            float: right;
                        }
                    }
                }

                .comment-clickable:hover {
                    background-color: whitesmoke;
                }

                .comment-details {
                    clear:both;
                    
                    * {
                        float: left;
                    }

                    .comment-poster-img {
                        height: 25px;
                        width: 25px;
                        background: gray;
                    }

                    .comment-poster-name {
                        margin-top: 4px;
                        margin-left: 10px;
                        font-style: italic;
                        color: gray;
                    }
                }
            }
            
            // panel that holds new comment form
            .comment-post {
                width: 322px;
                margin: auto;
                overflow: auto;

                .tab-explanation {
                    width: 100%;
                    margin: 10px auto;
                    font-style: italic;
                    color: gray;
                }

                .comment-submit {
                    background-color: $white-color;
                    float:right;
                    padding: 6px 11px;
                    border-radius: 3px;
                    margin-top: 10px;
                    cursor: pointer;
                }

                .comment-submit:hover {
                    background: gray;
                    color: $white-color;
                }

                .comment-textarea {
                    padding: 15px;
                    font-size: 11pt;
                    border: $generic-divider-color 1px solid;
                    resize: none;
                    color: gray;
                    outline: none;
                    width: 290px;
                    margin: auto;
                    border-radius: 3px;
                    display: block;
                }
            }

            .comments-buttons {
                margin: auto;
                padding-left: 10px;
                height: 60px;
                border-bottom: 3px solid $generic-divider-color;
                @include comments-button;

                .comments-button {
                    margin-top: 20px;
                }

                .comments-nav {
                    overflow: auto;
                    float: left;
                    width: 255px;
                    height: 48px;

                    .comments-title {
                        margin-left: 8px;
                        font-size: 22px;
                        line-height:26px;
                        margin-top: 19px;
                    }

                    .comments-index-title {
                        display: none;
                    }

                    .comments-button {
                        display:none;
                    }
                }

                .new-comment {
                    display: none;
                    width: 44px;
                    text-align: center;
                }

            }
        }

        .tab-notes {
            width: 290px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 30px;
            background-image: url('../images/handmadepaper.png');
            overflow-y: scroll;

            .tab-explanation {
            line-height: 27px;
                outline: none;
                height:100%;
                background-image:  
                -webkit-linear-gradient(left, rgba(255,85,91, 0), rgba(255,85,91, 0)), 
                -webkit-linear-gradient(left, rgba(255,85,91, 0), rgba(255,85,91, 0)), 
                -webkit-linear-gradient(top, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 69px, rgba(255,255,255,0) 70px), 
                -webkit-repeating-linear-gradient(rgba(0,0,0,0) 0px, rgba(0,0,0,0) 18px, #d1d1d1 19px, white 20px);
                background-size: 1px, 1px, auto, auto 27px;
                background-repeat: repeat-y, repeat-y, no-repeat, repeat;
                background-position:0 4px;
            }
        }
    }
}

/* This is the panel that contains the toolkit */
.tools {
    height: 100%;
    overflow: auto;
    margin-top:50px;

    .toolkit { // this is the left column of tools
        background: #373737;
        width: 250px;
        float: left;
        height: 100%;
        position: fixed;
        z-index: 20; //20; <-- changed this value for testing

        .toolkit-left {
            height: 100%;
            width: 250px;
            //border: 1px red dashed;
            float: left;
        }

        .toolkit-right {
            width: 38px;
            border: 1px $generic-divider-color solid;
            height: 100%;
            float: left;
            position:absolute;
            right: -40px;
            top: 40px;
            background-color: $off-white-bg-color;
        }

        .toolkit-region h2 {
            color: #999;
            font-weight: 500;
            margin-left: 20px;
        }   

        .toolkit-region {
            border-bottom: 1px solid #404040;
            padding: 20px 0;
        }

        .toolkit-region-light {
            background-color: #373737;
            color: $white-color;
            
            .fa-arrow-right {
                margin-left: 15px;
            }

            .fa-arrow-left {
                margin-right: 15px;
            }
        }

        .toolkit-region-dark {
            background-color: #1e1e1e;
            padding: 20px 0;
            border-top: 1px solid #404040;
        }

        // request review button
        #review {
            cursor: pointer;
        }

        // the toolkit row that states the mode and draft #
        .draft-num-row {
            height: 39px;
            padding: 0;

           .draft-num-container {
                width: 200px;
                margin-left: 20px;
                font-size: 11pt;
                position:relative;
                top:12px;

                * {
                    color: #999;
                }

                .draft-number {
                   padding: 0;
                   margin-right: 20px;
               }

               .edit-mode {
                   color: #39BD41;
               }

               .review-mode {
                   // TODO
               }

               .view-mode {
                  // TODO
               }
            }
        }

        // the draft history toolkit row
        .toolkit-region-history {
            padding: 12px 0;

            .history-container {
                color: $white-color;
                margin-left: 20px;
                position: relative;
                cursor: pointer;

                i {
                    margin-right: 10px;
                }

                .fa-angle-right {
                    position: absolute;
                    font-size:20pt;
                    right: 20px;
                    top: -5px;
                }
            }
        }

        .reviewer-button {
            cursor: pointer;
        }

        ul {
            margin-top: 20px;

            * {
                font-size: 11pt;
            }

            li {
                padding: 10px 20px;
                cursor: pointer;
                color: $white-color;
                width: 210px;

                a {
                    color: $white-color;
                    cursor: pointer;
                    width: 100%;
                    display: block;
                    font-weight: 100;
                }

                i {
                    margin-right: 12px;
                    color: #999;
                }

                i.folder-button {
                    margin-right: 8px;
                }
            }

            li:hover {
                background-color: black;
                * {
                    color: white;
                }
            }

            li.active-draft {
                * {
                    color: $main-color-2;
                }
            }
        }
    }
}

/* This is the panel that contains the text editor */
.main-panel {
    z-index: 20;
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: auto;
    background-color: whitesmoke;

    .page-container {
        position: relative;
        z-index: 100;
        background: whitesmoke;
        overflow: auto;
        width: 100%;

        .page {
            background: white;
            width: 660px;
            height: 1000px;
            border: 1px solid #d2d2d2;
            margin: 80px auto 60px auto;
            padding: 80px;
            outline: none;
            font-weight: 500;
            line-height: 1.5;
            overflow-y: auto;
            white-space: pre-wrap;
        }
    }

    .buttons-container {
        display: table;
        margin: auto;
    }
}

.editor-background {
    background-color: $base; 
    height: 100%;

    #review-submit {
        text-align: right;
        margin-top: 20px;

        .btn {
            text-align: center;
        }
    }

    .center-container {
        @include calc(width, "#{$contentwidth}");
        margin: 0 auto;
        padding-top: 50px;
        position: relative;
        height: 100%;


        &.toolbar-padding {
            padding-top: 90px;
        }

        .status-line {
            @include calc(width, "#{$contentwidth}");
            height: 2em;
            margin: 0 auto;
            font-size: 0.9em;
            color: #666;
        }


        .notes {
            position: absolute;
            margin-top: 140px;
            top: 0;
            right: -6px;

            .note {
                width: 175px;
                background-color: #eeeeee;
                border-right: 5px solid $accent-alt;
                line-height: 16px;
                position: absolute;
                left: -5px;

                .comment {
                    width: 155px; 
                    margin: 10px 10px 5px 10px;
                    white-space: pre-wrap;
                    white-space: -moz-pre-wrap;
                    white-space: -pre-wrap;
                    white-space: -o-pre-wrap;
                    word-wrap: break-word;
                    overflow: auto;

                    &:focus {
                        outline: none;
                    }
                }

                .comment[contentEditable="true"] {
                    background-color: #ffffff;
                    border: 1px solid #dddddd;
                }

                .comment[contentEditable="false"] {
                    height: 16px;
                    overflow: hidden;
                }

                button {
                    margin-left: 10px;
                }
            }
        }
    }

	.buttons-position-fixed {
		position: fixed;
		top: 0;
	}

	.buttons-position-absolute {
        position: absolute;
	}

    .toolbar {
        background: white;
        border-bottom: 1px solid $border;
    }

    .buttons {
        height: 100px;
        line-height: 40px;
        text-align: center;
        width: 100%;
        z-index: 102;
        background: rgba(0,0,0,0);
        position: fixed;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: moz-none;
        -ms-user-select: none;
        user-select: none;

        .toolkit-open-button, .toolkit-comment-button {
            height: 41px;
            width: 41px;
            background: gray;

            i {
                height: 40px;
                width: 40px;
                color: white;
                cursor: pointer;
            }
        }

        .toolkit-open-button {
            float:left;
        }

        .toolkit-comment-button {
            float: right;
        }

        .btn-set {
            padding: 0 20px;
            height: 40px;
            display: inline-block;
            border-right: 1px solid $border;

            &:first-child {
                border-left: 1px solid $border;
            }

            .btn-editor {
                margin: 0 5px;
            }

            .combine-icon {
                letter-spacing: -3px;
            }

            .button-border {
                border: 1px solid $border;
            }

            button {
                background-color: transparent;
                border: none;
                font-size: 14px;
                color: $text;
                cursor: pointer;

                &:focus {
                    outline: none;
                }
            }
        }

        .line-height-dropdown {
            width: 60px;
            line-height: 24px;

            .border {
                border: 1px solid $border;
            }

            .line-height-btn {
                cursor: pointer;
                margin-top: 8px;
                width: 60px;
                height: 24px;
            }

            ul {
                position: absolute;
                width: 60px;
                display: none;
                background-color: white;
                border: 1px solid $border;
                cursor: pointer;

                li:hover {
                    background-color: $accent-light;
                }
            }
        }

        .zoom-dropdown {
            width: 60px;
            line-height: 24px;

            .curr-zoom {
                margin-top: 8px;
                height: 24px;
                width: 60px;
                background-color: white;
                color: $text;
                font-weight: normal;
                border: 1px solid $border;
                cursor: pointer;
            }

            ul {
                position: absolute;
                cursor: pointer;
                top: 32px;
                display: none;
                background-color: white;
                border: 1px solid $border;
                width: 60px;

                li:hover  {
                    background-color: $accent-light;
                }
            }
        }

        .btn-set-status {
            width: 80px;
            .status-line {
                width: 100px;
                height: 40px;
            }
        }
    }
}

/***********************************/
/*         EMAIL OVERLAY           */
/***********************************/

.send-review-pane {
    @include border-radius;
    width: 400px;
    height: 200px;
    margin: auto;
    background: white;
    padding: 20px 30px;

    * {
        font-size: $small-explanation;
        line-height: 24px;
    }

    i {
        float: right;
        position: relative;
        bottom: 40px;
        left: 40px;
    }

    i:hover {
        color: #888;
        cursor: pointer;
    }

    h3 {
        font-size: $large-font-2;
        margin-bottom: 20px;
    }

    .send-review-pane-submit {
        @include border-radius;
        background-color: $theme-color;
        width: 100px;
        height: 30px;
        cursor: pointer;
        border: 0px;
        color: $white-color;
        font-size: $button-font-size;
        margin-top: 10px;
        margin-left: 10px;
    }

    .send-review-pane-submit:hover {
        background-color: $theme-color-hover;
    }

    .send-review-pane-email {
        @include border-radius;
        height: 30px;
        border: 1px #ddd solid;
        padding-left: 5px;
        width: 250px;
        font-size: $button-font-size;
    }

    form {
        overflow: auto;
        width: 400px;
        margin-top:50px;
        height: 100px;
    }

    .email-confirmation-popup {
        color: green;
        position:relative;
        top:10px;
        margin-top: 30px;
        display: none;
    }
}
