.essays-header {
    display: block;
    height: 20px;
    border-bottom: 1px #D2D2D2 solid;
}

.essays-list {

    li {
        height: 30px;
        border-bottom: 1px #D2D2D2 solid;
        line-height: 30px;
    }
}

.essays-list, .essays-header {
    div {
        padding-right: 20px;
        float: left;
    }

    .essay-name {
        width: 25%;
    }

    .essay-created {
        width: 25%;
    }

    .essay-modified {
        width: 25%;
    }

    .draft-version {
        width: 10%;
    }

    .trash-essay {
        width: 5%;
        float: right;
    }
}
