@import "bootstrap.scss";

#background {
    text-align: center;
    background-color: $accent-light;
    width: 100%;
    padding: 50px 0;
}

.page-container {

     #welcome {
         h1 {
             font-size: 50px;
             font-weight: 100;
             margin-bottom: 50px;
         }
   
     }

    #signup {
         text-align: right;
         margin-right: 100px;
    }

    #steps-container {
        padding: 20px;
        text-align: center;

        h1 {
            font-weight: 100;
            font-size: 28px;
            margin-bottom: 28px;
        }

        .steps {
            .circle {
                background-color: white;
                width: 150px;
                height: 150px;
                line-height: 150px;
                text-align: center;
                font-size: 80px;
                border-radius: 100px;
                color: $accent-light;
                margin-bottom: 20px;
            }
            
            li {
                display: inline-block;
                vertical-align: top;
                width: 150px;
                margin: 0 30px;
            }
        }
    }

    #learn-more {
        margin-top: 50px;

        h1 {
            font-weight: 100;
            font-size: 28px;
            margin-bottom: 28px;
        }

        .btn {
            margin-top: 28px;
        }

    }
}



