@import "shared/_form_default.scss";

.wrapper {
    background-color: $off-white-bg-color;
}

.table-wrapper {
    padding: 30px;
    padding-bottom: 20px;
    border: 1px solid #ddd;
    width: 500px;
    margin: auto;
    background: white;
    overflow: auto;
    position: relative;
}

table {
    width:426px;
    margin: auto;
    margin-bottom: 20px !important;

    td {
        width: 150px !important;
    }

    .button-field {
        margin-top: 0 !important;
        position: relative;
        top: 15px;
    }
}

.forgot-password {
    margin: auto;
    margin-top: 0px !important;
    display: block;
    position: absolute;
    top: 245px;

    a {
        display:block;
        color: #888;
        float: left;
        clear: both;
        margin-right: 20px;
    }

    a:hover {
        color: #999;
    }
}
