@import "shared/form_default.scss";

.wrapper {
    background-color: $off-white-bg-color;
}

.signup-wrapper {
    border: 1px $generic-divider-color solid;
    padding: 30px;    
    background: white;
    position: relative;
    bottom: 10px;
}


