@import "bootstrap.scss";
@import "shared/_mixins.scss";

/***********************************************/
/*                GLOBAL VARIABLES             */
/***********************************************/

$radius: 2px;
$theme-color: #a6538d;
$theme-color-hover: #B45B99;
$large-font: 30pt;
$large-font-2: 20pt;
$large-explanation: 15pt;  
$small-explanation: 13pt;
$button-font-size: 10pt;
$white-color: #e5e5e5;


/***********************************************/
/*                PAGE-WIDE STYLING            */
/***********************************************/

* {
    padding: 0;
    margin: 0;
    font-family: 'open-sans';
}

html, body {
    height: 100%;
}

*:focus {
    outline: none;
}

#everything-wrapper {
    height: 100%;
}

.content-container {
    width: 1000px;
    margin: 0 auto;
    padding: 0 50px;
}

.splash-container {
    width: 100%;    
    background:#ccc;
}

.cube-image {
    z-index: 1000;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 3px solid $white-color;
}


/***********************************/
/*         SIGNUP OVERLAY          */
/***********************************/

#sign-up-shadow {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.85);;
    z-index: 100;
    display: none;

    .sign-up-center-align {
        display: table-cell;
        vertical-align: middle;
    }
    
    .sign-up-pane {
        @include border-radius;
        width: 400px;
        height: 230px;
        margin: auto;
        background: white;
        padding: 50px 60px;

        * {
            font-size: $small-explanation;
            line-height: 24px;
        }

        i {
            float: right;
            position: relative;
            bottom: 40px;
            left: 40px;
        }

        i:hover {
            color: #888;
            cursor: pointer;
        }

        h3 {
            font-size: $large-font-2;
            margin-bottom: 20px;
        }

        .sign-up-pane-submit {
            @include border-radius;
            background-color: $theme-color;
            width: 100px;
            height: 30px;
            cursor: pointer;
            border: 0px;
            color: $white-color;
            font-size: $button-font-size;
            margin-top: 10px;
            margin-left: 10px;
        }

        .sign-up-pane-submit:hover {
            background-color: $theme-color-hover;
        }

        .sign-up-pane-email {
            @include border-radius;
            height: 30px;
            border: 1px #ddd solid;
            padding-left: 5px;
            width: 250px;
            font-size: $button-font-size;
        }

        form {
            overflow: auto;
            width: 400px;
            margin-top:50px;
            height: 100px;
        }

        .email-confirmation-popup {
            color: green;
            position:relative;
            top:10px;
            margin-top: 30px;
            display: none;
        }
    }
}


/********************************************************************/
/*                      PANEL 1 (TOP SPLASH)                        */
/********************************************************************/

#splash-main-image {
    height:100%;
    min-width: 1150px; // ? i dunno why this works
    min-height: 800px;
    background: url('../images/julian.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/* // USE THESE ROTATED BLOCKS IF YOU WANT TO MAKE SLANTED SECTION EDGES
.slanty-thing {
    width: 150%;
    height: 100px;
    background-color: white;
    z-index: 1;
    position: absolute;
    display: none;
}

#slanty-thing-1 {
    top:516px;
    -webkit-transform: rotate(-2deg);
}

#slanty-thing-2 {
    top: -85px;
    -webkit-transform: rotate(-2deg);
}
*/

#navbar-inner {
    width: 1000px;
    margin: auto;
}

#navbar {
    $button-height: 30px;
    min-width:918px;
    background: rgba(0,0,0,.5);
    width: 100%;
    overflow: auto;

    * {
        @include unselectable;
        color: $white-color;
    }

    .about-button {
        width: 100px;
    }

    .services-button {
        width: 130px;
    }

    .team-button {
        width: 90px;
    }

    .faq-button {
        width: 80px;
    }

    .contact-button {
        width: 100px;
    }

    li {
        float: left;
        height: 66px;

        a {
            display:block;
            padding:25px 0px;
            width:100%;
            text-align: center;
            font-size: 12pt;
        }

        a:hover {
            background: rgba(206,206,206,.2);
        }
    } 

    #login-button {
        @include unselectable;
        margin: 15px 15px 0px 0px;
        height: $button-height - 7px;
        width: 100px;
        font-size: 11px;
        padding-top: 7px;
        background: gray;
        display: none;
    }

    form {
        padding-top:15px;

        * { 
            float: right; 
            font-size: $button-font-size;    
        }

        .textfield, .submit-button {
            @include border-radius;
            height: $button-height;
            width: 200px;
            border: 0px;
        }

        .submit-button {
            background-color: $theme-color;
            width: 100px;
            margin-left: 10px;
            cursor: pointer;
        }

        .submit-button:hover {
            background-color: $theme-color-hover;
        }

        .textfield {
            color: black;
            padding-left: 10px;
            width: 170px;
        }
    }

    .email-confirmation {
        margin-top: 10px;
    }

    #login-button {
        @include border-radius;
        float: right;
        text-align: center;
        margin-left: 10px;
        font-size: $button-font-size;
        cursor: pointer;
    }
}

.navbar-fixed {
    position: fixed;
    top: 0;
    background: rgba(0,0,0,.8);
}

#splash-main-content {

    * { 
        color: $white-color; 
        cursor: default;
    }

    #intro-spiel {
        @include border-radius;
        margin-top: 120px;
        height: 250px;
        width: 440px;
        padding: 35px;
        padding-left:20px;
        padding-top:20px;
        padding-bottom: 45px;

        h1 {
            font-size: 34pt;
            line-height:44px;
            width: 480px;
            text-shadow: 2px 2px black;
        }


        p {
            margin-top: 25px;
            width:430px;

            span {
                font-size: $large-explanation;
                font-weight: 400;
                line-height: 30px;
                padding: 2px 0;
            }
        }

        /*.beta-signup-wrapper {
            padding: 10px;
            background-color: rgba(0,0,0,.4);
            margin-top: 30px;
            width: 253px;
        }
        */

        .beta-signup {
            @include border-radius;
            @include unselectable;
            background-color: $theme-color;
            height: 40px;
            width: 250px;
            text-align: center;
            padding-top: 20px;
            margin-top: 30px;
            font-size: $large-explanation;
            font-weight: bold;
            cursor: pointer;
            border: 1px solid #444;
        }

        .beta-signup:hover {
            background: $theme-color-hover;
        }
    }
}

#learn-more {
    @include unselectable;
    @include border-radius;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: -62px;
    width: 150px;
    margin: auto;
    background: rgba(0,0,0,.6);
    padding: 20px;
    text-align: center;
    cursor: pointer;

    i {
        margin-right:5px;
    }
}

#learn-more:hover {
    background: rgba(30,30,30,.6);
}


/*******************************************************/
/*            PANEL 2 (TOOL FOR WRITERS)               */
/*******************************************************/

#cube-image-1 {
    background-image: url('../images/typing.jpg');
    height: 285px;
    width: 285px;
    top: 200px;
    right: 50px;
    border: 3px white solid;
}

#cube-image-2 {
    background-image: url('../images/jackjack.png');
    height: 200px;
    width: 200px;
    top: 440px;
    left: 670px;
    border: 3px white solid;
}

.pitch-point-parag {
    line-height: 22px;
    width: 500px;
    display: block;
    padding-top: 10px;
    padding-bottom: 70px; 
}

#explanation-content, #splash-2 {
    position: relative;
    z-index: 10;
    background-position: 0 0;
    
    * {
        font-size: $small-explanation;
        line-height: 16pt;
    }

    .section-title {
        * {
            float: left;
        }

        h2 {
            font-size: $large-font;
            text-align: center;
            color: $theme-color;
            margin-bottom: 15px;
            width: 380px;
        }

        .title-line {
            bottom-border: black 1px solid;
            width: 310px;
            height: 1px;
            background-color: rgba(0,0,0,.3);
            margin-top: 10px;
        }
    }

    .tagline {
        clear:both;
        text-align:center;
        font-size: $small-explanation;
        margin-bottom: 50px;
    }

    h3 {
        font-size: $large-explanation;
    }
}

#explanation-content {
    height: 820px;

    .section-title {
        padding-top: 90px;
    }

    h3 {
        padding: 10px;
        color: $theme-color;
        border-radius: 2px;

        i {
            margin-right:10px;
        }
    }
}

#cube-image-4 {
    background-image: url('../images/help.png');
    height: 285px;
    width: 285px;
    top: 162px;
    left:50px;
    background-position: -36px;
}

#cube-image-5 {
    background-image: url('../images/open-book.png');
    background-position-x: -20px;
    height:200px;
    width:200px;
    top:424px;
    right:670px;
}

#splash-2 {
    height: 770px;
    min-width: 1150px;
    padding-top:80px;
    padding-bottom:80px;
    width: 100%;
    background-image: url('../images/stocky-stock-dark.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;


    .content-container {
        padding: 30px 50px;
        overflow: auto;
        position: relative;
    }

    .splash-2-shadow {
        background: rgba(0,0,0,.6);
        width:100%;
        height: 776px;
    }

    * {
        font-size: $small-explanation;
        line-height: 16pt;
        color: $white-color;
    }

    .section-title {
        * {
            float: left;
        }

        h2 {
            font-size: $large-font;
            text-align: center;
            color: $white-color;
            margin-bottom: 15px;
            width: 460px;
        }

        .title-line {
            width: 270px;
            height: 1px;
            background-color: $white-color;
            margin-top: 10px;
        }
    }

    .tagline {
        clear:both;
        text-align: center;
        font-size: $small-explanation;
        margin-bottom: 60px;
    }

    .pitch-panel {
        float: right; 
        clear: both;

        .pitch-point-parag {
            float:right;
        }

        h3 {
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 500px;

            i {
                margin-right: 10px;
             }

            .pitch-point-text {
                width: 500px;
            }
        }   
    }
}

#explanation-content-2 {
    height:300px;
}


/*******************************************************/
/*                 TESTIMONIALS PANEL                  */
/*******************************************************/

/* // THIS NEEDS TO REMAIN HIDDEN FOR NOW SINCE WE DON'T HAVE ANY
#testimonials-splash {
    background: url('../images/talk.jpg') no-repeat center center;
    background-position: 0 -100px;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .dark-cover {
        width:100%;
        height:100%;
        background: rgba(0,0,0,.6);
        padding-top:80px;

        h1 {
            text-align: center;
            font-size: $large-font;
            color: $white-color;
        }

        .testimonial-container {
            width: 1100px;
            margin: auto;
            height: 500px;

            * {
                font-size: $small-explanation;
                line-height: 18pt;
                text-align: center;
            }

            .top-testimonial {
                margin-bottom: 90px;
                margin-top: 70px;
            }
            
            .testimonial-column {
                height: 100%;
                width: 33%;
                float: left;

                i {
                    width: 10px;
                    margin: auto;
                    display: block;
                    color: $white-color;
                    margin-bottom: 5px;
                }

                .testimonial-text {
                    color: $white-color;
                    font-style:italic;
                    width: 340px;
                    margin: auto;
                }

                .testimonial-author {
                    color: grey;
                }
            }
        }
    }
}
*/


/*******************************************************/
/*                     FAQ PANEL                       */
/*******************************************************/

#faq {
    background-size: 100% auto;
    width: 100%;
    height: 950px;
    $gray-color: #888;

    * {
        color: $gray-color;
        line-height: 16pt;
    }

    .section-title {
        padding-top: 100px;

        * {
            float: left;
        }

        h2 {
            font-size: $large-font;
            text-align: center;
            //color: $gray-color;
            color: $theme-color;
            margin-bottom: 15px;
            width: 600px;
        }

        .title-line {
            width: 200px;
            height: 1px;
            background-color: $gray-color;
            margin-top: 10px;
        }
    }

    .questions-container {
        clear:both;
        height: 600px;
        width: 1100px;
        margin: auto;
        padding-top: 80px;

        .questions-column {
            width: 49%;
            float: left;

            .faq-question {
                position: relative;
                //border: 1px red dashed;
                float: left;
                min-height: 170px;

                p {
                    //display: none;
                    position: absolute;
                    top: 40px;
                    font-size: $small-explanation;
                }

                h3 {
                    //font-weight:bold;
                    font-size: $large-explanation;
                    color: $theme-color;
                    float:right;
                }

                i {
                    margin-right: 20px;
                    font-size: 20pt;
                    background-image: url('../images/gray-hexagon.png'); 
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                    width: 17px;
                    height: 18px;
                    display: block;
                    float: left;
                    opacity: 0.75;
                    position: relative;
                    top:2px;
                }

                .faq-a {
                    margin-left: 42px;
                    width: 450px;
                }
            }
        }
    }
}


/*******************************************************/
/*                  FOOTER PANEL                       */
/*******************************************************/

#footer {
    height: 500px;
    width: 100%;
    min-width: 1150px;
    background: url('../images/symbol-bg.jpg') no-repeat center center;
    background-size: cover;
    border-top: 1px solid #888;
    position: relative;

    h3 {
        font-size: $large-font;
        margin: 60px 0px 50px 0px;
        color: #888;
    }

    .contact-container {
        height: 100%;
    }

    form {
        width: 500px;
        $field-width: 200px;
        overflow: auto;
        position: relative;
        
        #contact-fields {
            overflow: auto;
            float: left;
        }

        input, textarea {
            @include border-radius;
            float: left;
            clear: both;
            border: 1px #ccc solid;
            margin-bottom:15px;
        }

        .contact-form-text, textarea {
            width: $field-width;
            padding: 5px;
        }

        textarea {
            resize: none;
        }

        #contact-message {
            width: $field-width;
        }

        #contact-info-container {
            float: left;
            height: 260px;
            width: 200px;
            position: relative;

            * {
                float: left;
                color: #888;
            }

            .contact-info {
                width: 145px;
                margin-left: 18px;
                float: left;
            }

            .drop-a-line {
                margin: 62px 0px 0px 18px;
                width: 100px;
            }

            #contact-submit {
                @include border-radius;
                clear: none;
                background-color: $theme-color;
                color: $white-color;
                width: 100px;
                height: 33px;
                margin-left: 18px;
                position: absolute;
                bottom: 2px;
                left: 0px;
                cursor: pointer;
            }

            #contact-submit:hover {
                background-color: $theme-color-hover;
            }
        }
    }
    
    .confirmation {
        display: none;
        color: green;
        font-weight: bold;
    }

    #copyright {
        position: absolute;
        bottom: 15px;
        width: 320px;
        margin: auto;
    }
}
