
/***********************************************/
/*                GLOBAL VARIABLES             */
/***********************************************/

$radius: 2px;
$theme-color: #a6538d;
$large-font: 30pt;
$large-font-2: 20pt;
$large-explanation: 15pt;  
$small-explanation: 13pt;
$button-font-size: 10pt;
$white-color: #e5e5e5;



/***********************************************/
/*                PAGE-WIDE STYLING            */
/***********************************************/

* {
    padding: 0;
    margin:0;
    font-family: 'open-sans';
}

html, body {
    height:100%;
}

@mixin unselectable {
    -webkit-user-select: none;        
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
}

@mixin border-radius {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

#everything-wrapper {
    height:100%;
}

.content-container {
    width:1000px;
    margin: 0 auto;
    padding: 0 50px;
}

.splash-container {
    width: 100%;    
    background:#ccc;
}

.cube-image {
    z-index: 1000;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 3px solid $white-color;
}


/********************************************************************/
/*                      PANEL 1 (TOP SPLASH)                        */
/********************************************************************/

#splash-main-image {
    height:100%;
    background: url('../images/julian.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slanty-thing {
    width: 150%;
    height:100px;
    background-color:white;
    z-index:1;
    position:absolute;
    display: none;
}

#slanty-thing-1 {
    top:516px;
    -webkit-transform: rotate(-2deg);
}

#slanty-thing-2 {
    top: -85px;
    -webkit-transform: rotate(-2deg);
}

#navbar-inner {
    width: 1000px;
    margin:auto;
}

#navbar {
    $button-height: 30px;
    //padding:0px 0px 0 20px;
    //border-bottom: $white-color 1px solid;
    min-width:918px;
    background: rgba(0,0,0,.5);
    width:100%;
    overflow:auto;

    * {
        color: $white-color;
        @include unselectable;
    }

    .about-button {
        width:100px;
    }

    .services-button {
        width: 100px;
    }

    .team-button {
        width: 90px;
    }

    .faq-button {
        width: 80px;
    }

    .contact-button {
        width: 100px;
    }

    li {
        float: left;
        height:66px;

        a {
            display:block;
            padding:25px 0px;
            width:100%;

            text-align:center;
            font-size:12pt;
        }

        a:hover {
            background:rgba(206,206,206,.2);
        }
    } 

    #login-button {
        margin-top: 15px;
        margin-right: 15px;
        height: $button-height - 7px;
        width: 100px;
        font-size: 11px;
        padding-top: 7px;
        background: gray;
        @include unselectable;
    }

    form {
        padding-top:15px;
        * { 
            float: right; 
            font-size: $button-font-size;    
        }

        .textfield, .submit-button {
            @include border-radius;
            height: $button-height;
            width: 200px;
            border: 0px;
        }

        .submit-button {
            background-color: $theme-color;
            width:100px;
            margin-left:10px;
            cursor: pointer;
        }

        .submit-button:hover {
            background-color: #B45B99;
        }

        .textfield {
            color: black;
            padding-left: 10px;
            width:170px;
        }
    }

    #login-button {
        float: right;
        @include border-radius;
        text-align: center;
        margin-left: 10px;
        font-size: $button-font-size;
        cursor: pointer;
    }
}

#splash-main-content {

    * { 
        color: $white-color; 
        cursor: default;
    }

    #intro-spiel {
        margin-top: 150px;
        height: 250px;
        width: 500px;
        //background-color: rgba(0,0,0,.4);
        padding:35px;
        border-radius: 2px;

        h1 {
            font-size: $large-font;
        }

        p {
            font-size: $large-explanation;
            line-height: 30px;
            margin-top: 25px;
        }

        #beta-signup {
            @include border-radius;
            @include unselectable;
            background-color: $theme-color;
            height: 40px;
            width: 250px;
            text-align: center;
            padding-top: 20px;
            margin-top: 50px;
            font-size: $large-explanation;
            font-weight: bold;
            cursor: pointer;
        }

        #beta-signup:hover {
            background: #B45B99;
        }
    }
}

#learn-more {
    @include unselectable;
    @include border-radius;
    color:white;
    position:absolute;
    left:0;
    right:0;
    top:-62px;
    width:150px;
    margin:auto;
    background: rgba(0,0,0,.6);
    padding:20px;
    text-align:center;
    cursor: pointer;

    i {
        margin-right:5px;
    }
}

#learn-more:hover {
    background: rgba(30,30,30,.6);
}



/*******************************************************/
/*            PANEL 2 (TOOL FOR WRITERS)               */
/*******************************************************/

#cube-image-1 {
    background-image: url('../images/typing.jpg');
    height: 285px;
    width: 285px;
    top: 190px;
    right:50px;
    border: 3px white solid;
}

#cube-image-2 {
    background-image: url('../images/jackjack.png');
    height:200px;
    width:200px;
    top:430px;
    left:670px;
    border: 3px white solid;
}

.pitch-point-parag {
    line-height:22px;
    width: 500px;
    display: block;
    padding-top:10px;
    padding-bottom:60px; 
}

#explanation-content, #splash-2 {
    position: relative;
    z-index: 10;
    background-position:0 0;
    
    * {
        font-size: $small-explanation;
        line-height: 16pt;
    }

    .section-title {
        * {
            float:left;
        }

        h2 {
            font-size: $large-font;
            text-align: center;
            color: $theme-color;
            margin-bottom: 15px;
            width:380px;
        }
        .title-line {
            bottom-border: black 1px solid;
            width:310px;
            height:1px;
            background-color:rgba(0,0,0,.3);
            margin-top:10px;
        }
    }

    .tagline {
        clear:both;
        text-align:center;
        font-size: $small-explanation;
        margin-bottom: 50px;
    }

    h3 {
        font-size: $large-explanation;
    }
}

#explanation-content {
    height: 750px;

    .section-title {
        padding-top:70px;
    }

    h3 {
        padding: 10px;
        color: $theme-color;
        i {
            margin-right:10px;
        }
        border-radius: 2px;
    }


}

#cube-image-4 {
    background-image: url('../images/help.png');
    height: 285px;
    width: 285px;
    top: 190px;
    left:50px;
    background-position: -36px;
}

#cube-image-5 {
    background-image: url('../images/open-book.png');
    height:200px;
    width:200px;
    top:430px;
    right:670px;
}

#splash-2 {
    height: 850px;
    padding-top:70px;
    width: 100%;
    background-image: url('../images/stocky-stock-dark.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    .content-container {
        padding: 30px 50px;
        overflow:auto;
        position:relative;
    }

    .splash-2-shadow {
        background: rgba(0,0,0,.6);
        width:100%;
    }

    * {
        font-size: $small-explanation;
        line-height: 16pt;
        color: $white-color;
    }

    .section-title {
        * {
            float: left;
        }

        h2 {
            font-size: $large-font;
            text-align: center;
            color: $white-color;
            margin-bottom: 15px;
            width: 460px;
        }

        .title-line {
            width: 270px;
            height: 1px;
            background-color: $white-color;
            margin-top: 10px;
        }
    }

    .tagline {
        clear:both;
        text-align: center;
        font-size: $small-explanation;
        margin-bottom: 50px;
    }

    .pitch-panel {
        float: right; 
        clear: both;

        .pitch-point-parag {
            float:right;
        }

        h3 {
            font-weight: bold;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 500px;

            i {
                margin-right: 10px;
             }

            .pitch-point-text {
                width: 500px;
            }
        }   
    }
}


#explanation-content-2 {
    height:300px;
}

/*******************************************************/
/*                 TESTIMONIALS PANEL                  */
/*******************************************************/

#testimonials-splash {
    background: url('../images/talk.jpg') no-repeat center center;
    background-position: 0 -100px;
    height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .dark-cover {
        width:100%;
        height:100%;
        background: rgba(0,0,0,.6);
        padding-top:80px;

        h1 {
            text-align: center;
            font-size: $large-font;
            color: $white-color;
        }

        .testimonial-container {
            width: 1100px;
            margin: auto;
            height: 500px;

            * {
                font-size: $small-explanation;
                line-height: 18pt;
                text-align: center;
            }

            .top-testimonial {
                margin-bottom: 90px;
                margin-top: 70px;
            }
            
            .testimonial-column {
                height: 100%;
                width: 33%;
                float: left;

                i {
                    width: 10px;
                    margin: auto;
                    display: block;
                    color: $white-color;
                    margin-bottom: 5px;
                }

                .testimonial-text {
                    color: $white-color;
                    font-style:italic;
                    width: 340px;
                    margin: auto;
                }

                .testimonial-author {
                    color: grey;
                }
            }
        }
    }
}



/*******************************************************/
/*                     FAQ PANEL                       */
/*******************************************************/

#faq {
    background: url('../images/symbol-bg.jpg') no-repeat center center;
    background-size: 100% auto;
    width:100%;
    height:800px;

    * {
        color: #888;
        line-height: 16pt;
    }

    h2 {
        font-size: $large-font;
        text-align:center;
        padding-top:50px;
    }

    .questions-container {
        width:1100px;
        margin:auto;
        height:600px;
        padding-top:50px;

        .questions-column {
            width: 49%;
            float:left;
        }

        li * {
            float:left;
            font-size: $large-explanation;
        }

        li {
            clear: both;
            margin-bottom:50px;
            float: left;
        }

        i {
            margin-right:15px;
            font-size: 10pt;
        }

        p {
            display: block;
            width: 480px;
        }
    }
}
