@import "shared/_variables.scss";

$terms-height: 4325px;
$privacy-height: 2855px;

html, body {
    height: 100%;
}

.content-wrapper-terms {
    height: $terms-height;
    width: $page-width;
    margin: auto;
}

.content-wrapper-privacy {
    height: $privacy-height;
    width: $page-width;
    margin: auto;
}

.offwhite-bg {
    width: 50%;
    float: left;
    height: $terms-height;
    position: absolute;
    left: 0;
    background-color: $off-white-bg-color;
    z-index: 1;
}

.privacy-bg {
    height: $privacy-height;
}

.content-wrapper {
    overflow: auto;
    position: relative;
    z-index: 10;

    .help-center-nav {
        float: left;
        background-color: #f5f5f5;
        width: 173px;
        height: 100%;

        .nav-wrapper {
            float: right;
            margin-right: 20px;

            h2 {
                padding: 10px;
                padding-top: 40px;
            }

            ul {
                li {
                    border-bottom: 1px solid #dcdcdc;
                    padding: 10px;
                    width: 140px;

                    a {
                        color: black;
                        font-weight:300;
                        color: #888;
                    }
                }
            }
        }
    }

    .content {
        float: left;
        width: 726px;
        border-left: 1px solid #dcdcdc;
        padding: 40px;
        padding-right: 0px;
        background-color: white;

        h1 {
            font-size: 30pt;
            margin-bottom: 40px;
        }

        .intro-paragraph {
            color: #888;
            margin-bottom: 20px;
        }

        .term {
            width: 726px;
            margin-bottom: 35px;

            li {
                margin-bottom: 20px;

                h3 {
                    font-weight: bold;
                    margin-bottom: 5px;
                }
            }

            h2 {
                color: $main-color-2;
                margin-bottom: 10px;
                border-bottom: 1px #dcdcdc solid;
                padding-bottom: 5px;
            }

            p {
                line-height:17px;
            }
        }
    }
}
