@import "shared/_variables.scss";

nav {
    background-color: $main-dark;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    position: relative;

    .header-container {

        position: relative;
        width: $page-width;
        margin: 0 auto;

        .nav-left {
            #logo {
                float: left;
                position: absolute;

                #eraser{
                    width: 50px;
                    height: 10px;
                    background-color: $main-color-2;
                }

                #metal {
                    width: 50px;
                    height: 3px;
                    margin-bottom: 1px;
                    background-color: $main-color-2;
                }

                #pencil {
                    width: 50px;
                    height: 40px;
                    background-color: $main-color-2;
                    line-height: 34px;
                    text-align: center;
                    color: $main-dark;
                    font-size: 24px;
                    font-family: 'Pacifico', cursive;
                }
            }

            #logo-name {
                margin-left: 70px;
                letter-spacing: 5px;
                font-weight: 100;
                color: $white-color;
                &:hover {
                    color: white;
                }
            }
        }

        .nav-right {
            height: 50px;
            float: right;

            a {
                color: $white-color;
                font-weight: 100;

                &:hover {
                    color: white;
                }
            }
    
            li {
                display: inline-block;
                margin-left: 20px;
    
                &.username {
                    display: -ms-flexbox;
                    -ms-flex-pack: center;
                    -ms-flex-align: center;
    
                    display: -moz-box;
                    -moz-box-pack: center;
                    -moz-box-align: center;
    
                    display: -webkit-box;
                    -webkit-box-pack: center;
                    -webkit-box-align: center;
    
                    display: box;
                    box-pack: center;
                    box-align: center;
    
                    font-weight: 100;
    
                    .avatar-thumb {
                        display: -webkit-box;
                        margin-right: 10px
                    }
    
                    .fa-caret-down {
                        margin-left: 5px;
                    }
                }
            }
        }
       
        .dropdown {
            background-color: $background;
            border: 1px solid $generic-divider-color;
            position: absolute;
            z-index: 1001;
            line-height: 20px;
            right: 0;
            
            li {
                display: block;
                padding: 10px 20px;
            }
        }
    }
}

.nav-section {
    width: 100%;
    border-bottom: 1px #d2d2d2 solid;
    overflow: auto;
    background-color: white;

    .page-width {
        width: $page-width;
        margin: auto;
        padding: 10px;
        height: 40px;
    }

    h1 {
        font-size:23pt;
        margin-top: 10px;
        float:left;
    }

    .new-doc-button {
        float: left;
        padding: 7px;
        background: $main-color-2;
        border-radius: 3px;
        color: white;
        margin-top: 8px;
        margin-left: 17px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.4);
        padding-right: 10px;

        i{
            color: #5C294D;
            margin-right: 5px;

        }
    }
}
