@import "bootstrap/_variables.scss";

nav {
    background-color: $main;
    height: 60px;
    line-height: 60px;

    .header-container {
        position: relative;
        width: $contentwidth;
        margin: 0 auto;

        .nav-left {
            #logo {
                float: left;
                position: absolute;

                #eraser{
                    width: 50px;
                    height: 10px;
                    margin-bottom: 1px;
                    background-color: $accent-alt;
                }

                #metal {
                    width: 50px;
                    height: 3px;
                    margin-bottom: 1px;
                    background-color: $accent-alt;
                }

                #pencil {
                    width: 50px;
                    height: 45px;
                    background-color: $accent-alt;
                    line-height: 45px;
                    text-align: center;
                    color: $main;
                    font-size: 24px;
                    font-family: 'Pacifico', cursive;
                }

                #tip {
                    width: 0;
                    height: 0;
                    border-left: 25px solid transparent;
                    border-right: 25px solid transparent;
                    border-top: 13px solid $accent-alt;
					position: relative;
					z-index: 1000;
                }
            }

            #logo-name {
                margin-left: 70px;
                letter-spacing: 5px;
                font-weight: 100;
                color: $base;
                &:hover {
                    color: $base;
                }
            }

        }

        .nav-right {
            height: 50px;
            float: right;

            a {
                color: $base;
                font-weight: 100;

                &:hover {
                    color: $accent-light;
                }
            }
    
            li {
                display: inline-block;
                margin-left: 20px;
    
                &.username {
                    display: -ms-flexbox;
                    -ms-flex-pack: center;
                    -ms-flex-align: center;
    
                    display: -moz-box;
                    -moz-box-pack: center;
                    -moz-box-align: center;
    
                    display: -webkit-box;
                    -webkit-box-pack: center;
                    -webkit-box-align: center;
    
                    display: box;
                    box-pack: center;
                    box-align: center;
    
                    font-weight: 100;
    
                    .avatar-thumb {
                        display: -webkit-box;
                        margin-right: 10px
                    }
    
                    .fa-caret-down {
                        margin-left: 5px;
                    }
                }
            }
        }

       
        .dropdown {
            background-color: $background;
            border: 1px solid $border;
            position: absolute;
            z-index: 1001;
            line-height: 20px;
            right: 0;
            
            li {
                display: block;
                padding: 10px 20px;
            }
        }
    }
}
