@import "shared/_form_default.scss";

.table-wrapper {
    padding: 40px;
    padding-bottom: 30px;
    width: 470px;
}

table {
    margin-bottom: 0px !important;
    
    td {
        padding: 10px 10px 10px 0px !important;
    }
}
