@import "../shared/_variables.scss";

.essays-list-container, .essays-table {
    margin: auto;
    padding-bottom: 30px;
    width: 100%;
}

.page {
    background: white;
}

.essays-header {
    height: 20px;
    border-bottom: 1px #D2D2D2 solid;

    th {
        text-align: left;
        font-weight: 600;
        cursor: pointer;

        .fa {
            width: 15px;
            height: 15px;
            font-size: 15px;
            color: #aaa;
            margin-left:5px;
            display: none;
        }
    }

    .show-up {
        color:$main-color-2; 
        .fa-caret-up {
            display: inline-block;
        }
    }

    .show-down {
        color: $main-color-2;
        .fa-caret-down {
            display: inline-block;
        }
    }
}

.essays-table {

    tbody {
        overflow-y: scroll;
    }

    tr, th, td {
        height: 35px;
        line-height: 35px;
    }

    tr {
        border-bottom: 1px #D2D2D2 solid;
        width: 100%;

        a {
            display: block;
            width: 100%;
            height: 100%;
            color: black;
            font-weight: 300;
        }
    }

    tr.row-link:hover {
        background: whitesmoke;
    }
}

.essays-table, .essays-header {

    .essay-name, .essay-created, .essay-modified {
        width: 25%;
    }

    .draft-number {
        width: 10%;
    }

    td.draft-number {
        padding-left: 13px;
    }

    .trash-essay {
        width: 5%;
        padding-right: 0;

        &:hover {
            cursor: pointer;
        }

        .fa-trash-o {
            width: 20px;
            height: 20px;
            font-size: 17px;
            position: relative;
            bottom: 2px;
            
        }

        .fa-trash-o:hover {
            color: red;
        }
    }
}

